<div class="invoice">
  <h1>Parrot Invoice</h1>
 
  <h3>To: <%= UserID = @payement_record.user_id @payement_record.first_name @payement_record.last_name %></h3>
  <h3>Date: <%= @payement_record.payment_time %></h3>
 
  <table>
    <thead>
        <tr>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>        
          <tr>
            <td><%= @payment_record.test_name %></td>
            <td><%= @payement_record.price %></td>
          </tr>
        <tr class="total">
          <td style="text-align: right">Total: </td>
          <td><%= @payment_record.price %></span></td>
        </tr>
      </tbody>
  </table>
</div>
