<div class="modal-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title">
          <!-- <div class="modal-h1-top">Response > Create Response > <span class="preview_response_title">Sample Response Title 01</span></div> -->
          <div class="h1-style"><span class="preview_response_title"><%= @test.title %></span></div>
        </h4>
      </div>
      <div class="modal-body">

        <p><%= @test.description %></p>
<!--        <p style="color:red;">**Test start button would not available until user turn on the webcam to release it**</p>-->
        <%= link_to 'Start Test', test_path(@test.id), method: :get, :class => 'btn btn-user-color link-disabled', :id => "test_start", :onclick => "alert('You will be recorded during the test for security purposes. Please allow access to the webcam and your microphone, and allow the browser to remember the settings in order to continue')" %>
      </div>
    </div>
  </div>
</div>
<script>
navigator.getMedia = ( navigator.getUserMedia || // use the proper vendor prefix
                       navigator.webkitGetUserMedia ||
                       navigator.mozGetUserMedia ||
                       navigator.msGetUserMedia);

navigator.getMedia({video: true, audio: true}, function() {
  // webcam is available
  $('#test_start').removeClass("link-disabled");

}, function() {
  // webcam is not available
  $('#test_start').addClass("link-disabled");
});
</script>
