<div class="camera"></div>
<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div id="message" class="alert alert-warning" role="alert" style="margin-top: 20px; display: none;"></div>
            <div class="h1-style-user">
              Tests
              <!-- <input type="button" style="float: right;" class="btn btn-success" value="Practice Test"> -->
              <% if @practice_test %>
              <%= button_to take_practice_test_path(:id => @practice_test.id), {:class => 'btn btn-success', :style => 'float: right;'} do %>Practice Test<% end %>
              <% else %>

              <% end %>
            </div>
          </div>
          <div class="row">
            <table class="tb-tests">
              <thead>
                <tr>
                  <th>Test Status</th>
                  <th>Test Name</th>
                  <th>Purchased Date</th>
                  <th>Date Taken</th>
                  <th>Rating</th>
                  <!-- <th>View PDF</th> -->
                  <!--<th>Send Scores</th>-->
                </tr>
              </thead>
              <tbody>
                <% @test_records.each do |test_record| %>
                  <% if !Test.find_by_id(test_record.test_id) %>
		  <% next %>
                  <% end %>
                  <tr>
                    <td><%= if ((test_record.purchased_date.blank? || test_record.responses.where(:cheating_detected => true).count < 3) && test_record.status != 1) then link_to test_record_path(test_record) , {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.modal-test-record'} do "Take Test NOW!**" end else if test_record.start_date.blank? then link_to test_record_path(test_record) , {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.modal-test-record'} do "Take Test **Click Here NOW!**" end else if test_record.responses.where(:cheating_detected => true).count >= 3 then "Under Review" elsif test_record.score.blank? then "Rating in Process" elsif test_record.score == "failed" then "Under Review" else "Completed" end end end %></td>
                    <% if Test.find_by_id(test_record.test_id) %>
                    <td><%= if ((test_record.purchased_date.blank? || test_record.responses.where(:cheating_detected => true).count < 3) && test_record.status != 1) then link_to test_record_path(test_record), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.modal-test-record'} do %><%= test_record.test_name %><% end else test_record.test_name end %></td>
                    <% else %>
                    <td><strong>Test LOST</strong></td>
                    <% end %>

                    <td><%= if test_record.purchased_date.blank? then "" else test_record.purchased_date.strftime('%m/%d/%Y') end %></td>
                    <td><%= if test_record.start_date.blank? then "" else test_record.start_date.strftime('%m/%d/%Y') end %></td>
                    <td><% case test_record.score
                      when "1" %>
                         Elementary
                      <% when "2" %>
                        Elementary Plus
                      <% when "3" %>
                        Limited Working
                      <% when "4" %>
                        Limited Working Plus
                      <% when "5" %>
                        General Professional
                      <% when "failed" %>
                        Failed
                      <% else
                      end %>
                    </td>
                    <!-- <td><i class="fa fa-file-o" aria-hidden="true"></i></td> -->
                  <!--  <td><i class="fa fa-envelope-o" aria-hidden="true"></i></td> -->
                  </tr>
                <% end %>
              </tbody>
            </table>
             </div>



          <div class="row">
            <!-- <button type="button" name="button" class="btn btn-user flex-item" data-toggle="modal" data-target="#preview-response-modal" id="response_preview">Preview</button> -->
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- test record modal -->
<div id="modal-window" class="modal fade modal-test-record" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


<%=render "/users/footer" %>

<script>
$( "li.user-tests" ).addClass( "active" );
$(document).ready(function(){

  Webcam.reset();

  var url = new URL(location.href);
  var cheatingDetected = url.searchParams.get("cheatingDetected");
  var count = url.searchParams.get("count");

  if(cheatingDetected == 'true'){
    var message = '';
    if(count == 1) {
      message = 'Security Overview: Please be aware that the Parrot66 language test is delivered over a secure platform. In addition to identification confirmation measures, the platform will detect any attempts to access a third party application during the actual test and result in a resetting of your test. Should this happen more than twice, your test will be blocked and you will not be able to complete your test.';
    } else if (count == 2) {
      message = 'Security Overview: Your test has been stopped due to a security breach. While the test is active, please be sure not to click outside of the Parrot tab for any reason. You can log back in.';
    } else if (count == 3) {
      message = 'Security Overview: Your test has been stopped due to a security breach. You have clicked outside of the Parrot tab for the third time and your test has now been blocked. The Parrot Team will review your test record and be in touch with you shortly.';
    }

    if(count > 0 && count < 4){
      $('#message').html(message);
      $('#message').show();
    }
  }
});
</script>
