<div class="modal-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title">
          <div class="modal-h1-top">Users > <%= @user.f_name %> <%= @user.l_name %> > Cheating Record</div>
          <div class="h1-style"><span class="preview_prompt_title">Parrot ID : <%= @user.parrot_id %></span></div>
        </h4>
      </div>
      <div class="modal-body">
        <table class="tb-user-info">
          <thead>
            <tr>
              <th>Test Name</th>
              <th class="sortable-level asc">Cheating Date</th>
              <th>Language</th>
              <th>Industry</th>
              <th>Reason</th>
            </tr>
          </thead>

          <tbody>
            <% @cheating_records.each do |cheating_record| %>
              <% @test_record = TestRecord.find_by_id(cheating_record[0]) %>
              <tr>

                <% if @test_record %>
                <td><%= @test_record.test_name %></td>
                <% else %>
                <td><strong>Test LOST</strong></td>
                <% end %>

                <td><%= cheating_record[2] %></td>

                <% if @test_record %>
                <td><%= @test_record.language %></td>
                <% else %>
                <td><strong>Test LOST</strong></td>
                <% end %>

                <% if @test_record %>
                <td><%= @test_record.industry %></td>
                <% else %>
                <td><strong>Test LOST</strong></td>
                <% end %>

                <td><%= cheating_record[1] %></td>

              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" name="button" class="btn btn-user" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "js/users.js" %>
