<!-- footer -->
<div class="footer-user">
  <div class="container-fluid">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="copy-right">Copyright ©Parrot 66, Inc. Reproduction, distribution, display, or transmission of the sites's content is strictly prohibited.</div>
    </div>
  </div>
</div>
