<%= simple_form_for @page, method: :put, url: content_update_path do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="form-group">
      <div class="col-md-8">
        <label>Title</label>
        <%= f.input :title, placeholder: 'Title', label: false, disabled: true %>
        <div class="clearfix"></div>
      </div>


      <div class="col-md-12">
        <h3>Section1</h3>


      <%= f.text_area :section1, label: false, :class => "tinymce", :rows => 15 %>
        </div>
      <div class="clearfix"></div>

      <div class="col-md-12">
        <h3>Section2</h3>


      <%= f.text_area :section2, label: false, :class => "tinymce", :rows => 15 %>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-12">
        <h3>Section3</h3>


      <%= f.text_area :section3, label: false, :class => "tinymce", :rows => 15 %>
        </div>
      <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12">
  <div class="form-actions flex">
    <div class="more-user flex-item"><%= link_to 'Cancel', cms_path %></div>
    <%= f.button :submit, "Save", :class => "btn-user" %>
  </div>
  </div>
<% end %>
