<!-- header -->
<div class="header-user">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hello-user">
          <span>Hello,<!--</span><span><%= @current_user.f_name %></span><span><%= @current_user.l_name %></span>-->
          <% if @current_user.is_admin? %>
            <%= link_to @current_user.f_name + " " + @current_user.l_name, "/dashboard" %>
          <% else %>
            <%= link_to @current_user.f_name + " " + @current_user.l_name, "/home" %>
          <% end %>
          </span>
        </li>
        <li>
          <%= link_to 'Contact Us', messages_path %>
        </li>
        <li>
          <%= link_to '/logout' do %>
            <i class="fa fa-sign-out"></i>
            Log Out
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <!-- verify result modal -->
  <div id="modal-verify-result" class="modal fade">
    <div class="modal-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-header">
            <div class="modal-h1-top">Claim a candidate’s Certification</div>
            <h4 class="modal-title">
              <div class="h1-style">Verify Results</div>

            </h4>
          </div>
          <div class="modal-body">
              <p>Not sure of a score?! Enter their information below to verify their result! (The candidate must provide you with their “Certificate Number” in order to access their test information.)</p>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="InputCertificateNumber" aria-describedby="emailHelp" placeholder="Certificate Number">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color" id="Certificate-Number-Submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- certification modal -->
  <div id="modal-certification" class="modal fade">
    <div class="modal-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-header">
            <div class="modal-h1-top">Show me the result!</div>

            <h4 class="modal-title">
              <div class="h1-style">Parrot ID Number: <%= @current_user.parrot_id %></div>
              <div class="user-avatar">
                <img src="http://www.parrot66.com<%= @current_user.avatar %>">
                <!--<%= image_tag @current_user.avatar %>-->
              </div>
            </h4>
          </div>
          <div class="modal-body">
            <div class="modal-h1-top">Personal Information</div>
            <table class="table">
              <tbody>
                <tr>
                  <td>First Name:</td>
                  <td><%= @current_user.f_name %></td>
                </tr>
                <tr>
                  <td>Last Name:</td>
                  <td><%= @current_user.l_name %></td>
                </tr>
                <tr>
                  <td>Date of Birth:</td>
                  <td><%= @current_user.date_of_birth %></td>
                </tr>
              </tbody>
            </table>
            <div class="modal-h1-top">Parrot Certification</div>
            <table class="table">
              <tbody>
                <tr>
                  <td class="test-title" id="test-title" colspan="2"></td>
                </tr>
                <tr>
                  <td>Language:</td>
                  <td id="language"></td>
                </tr>
                <tr>
                  <td>Rating:</td>
                  <td id="rating">
                    <%
                  if !@test_records.nil? && @test_records.count > 0
                  case @test_records[0].score
                    when "1" %>
                       Elementary
                    <% when "2" %>
                      Elementary Plus
                    <% when "3" %>
                      Limited Working
                    <% when "4" %>
                      Limited Working Plus
                    <% when "5" %>
                      General Professional
                    <% when "failed" %>
                      Failed
                    <% else
                    end
                  end%>
                </td>
                </tr>
                <tr>
                  <td>Certification Date:</td>
                  <td id="certification-date">
                    <% if !@test_records.nil? && @test_records.count > 0 %>
                    <%= @test_records[0].updated_at.strftime("%B %d %Y") %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Certificate Expiration Date:</td>
                  <td id="certificate-expiration-date">
                    <% if !@test_records.nil? && @test_records.count > 0 %>
                    <%= (@test_records[0].updated_at + (2*365*24*60*60)).strftime("%B %d %Y") %>
                    <% end %>
                  </td>
                </tr>
                <!--
                <tr>
                  <td>Certificate Number:</td>
                  <td id="certificate-number">16DHK12</td>
                </tr>
                -->
              </tbody>
            </table>
            <p><span class="here"><a href="https://www.parrot66.com/howitworks">Click here to learn more about our rating scale.</a></span></p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="" id="download-certificate">Download Certificate</button> -->
            <%= link_to "Download Certificate", { :controller => :users, :action => "download_certificate_pdf", :id => 123 }, :id => "download-certificate", :class => "btn btn-color", :target => "_blank"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<script type="text/javascript">
$(".notice-bell").click(function(){
    $(".notification").toggle();
});
</script>
