<%= simple_form_for @page, method: :put, url: content_update_path do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="form-group">
      <div class="col-md-8">
        <label>Title</label>
        <%= f.input :title, placeholder: 'Title', label: false %>
        <div class="clearfix"></div>

        <label>Slug</label>
        <div id="edit-slug-box">
          <strong>Permalink: </strong>
          <span id="sample-permalink">parrot66.com/
            <span id="editable-post-name"><%= f.input :slug, placeholder: 'slug', label: false %></span>/
          </span>
        </div>

      </div>
      <div class="col-md-12">
        <h3>Section1</h3>
      </div>
      <div class="col-md-8">
        <label>Banner 1</label>
        <%= f.text_area :section1, label: false, :class => "tinymce", :rows => 5 %>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <label>Banner1 Picture</label>
        <div class="banner-img">
          <%= image_tag(@page.image1_url, id: 'img1_prev') if @page.image1? %>
        </div>
        <%= f.file_field :image1, label: false, id: "image1-upload" %>
        <div>Aspect Ratios: 1920x719</div>
      </div>
      <div class="col-md-8">
        <label>Banner 2</label>
        <%= f.text_area :section2, label: false, :class => "tinymce", :rows => 5 %>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <label>Banner2 Picture</label>
        <div class="banner-img">
          <%= image_tag(@page.image2_url, id: 'img2_prev') if @page.image2? %>
        </div>
        <%= f.file_field :image2, label: false, id: "image2-upload" %>
        <div>Aspect Ratios: 1920x719</div>
      </div>
      <div class="col-md-8">
        <label>Banner 3</label>
        <%= f.text_area :section3, label: false, :class => "tinymce", :rows => 5 %>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <label>Banner3 Picture</label>
        <div class="banner-img">
          <%= image_tag(@page.image3_url, id: 'img3_prev') if @page.image3? %>
        </div>
        <%= f.file_field :image3, label: false, id: "image3-upload" %>
        <div>Aspect Ratios: 1920x719</div>
      </div>
      <div class="col-md-8">
        <label>Banner 4</label>
        <%= f.text_area :section4, label: false, :class => "tinymce", :rows => 5 %>
      </div>
      <div class="col-md-4">
        <label>Banner4 Picture</label>
        <div class="banner-img">
          <%= image_tag(@page.image4_url, id: 'img4_prev') if @page.image4? %>
        </div>
        <%= f.file_field :image4, label: false, id: "image4-upload" %>
        <div>Aspect Ratios: 1920x719</div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <h3>Section2</h3>

      <%= f.text_area :section5, label: false, :class => "tinymce", :rows => 15 %>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <h3>Section3</h3>

      <div class="clearfix"></div>
      <%= f.text_area :section6, label: false, :class => "tinymce", :rows => 15 %>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <h3>Section4</h3>


      <%= f.text_area :section7, label: false, :class => "tinymce", :rows => 15 %>
        </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <h3>Section5</h3>


      <%= f.text_area :section8, label: false, :class => "tinymce", :rows => 15 %>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <h3>Section6</h3>


      <%= f.text_area :section9, label: false, :class => "tinymce", :rows => 15 %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12">
  <div class="form-actions flex">
    <div class="more-user flex-item"><%= link_to 'Cancel', cms_path %></div>
    <%= f.button :submit, "Save", :class => "btn-user" %>
  </div>
</div>
<% end %>

<script>
// slug change function
$("#page_title").keyup(function(){
    var Text = $(this).val();
    Text = Text.toLowerCase();
    Text = Text.replace(/ /g,'').replace(/[^\w-]+/g,'')
    $("#page_slug").val(Text);
});

// image preview
$(function() {
  function readURL1(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img1_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  function readURL2(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img2_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  function readURL3(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img3_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  function readURL4(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img4_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#image1-upload").change(function(){
    $('#img1_prev').removeClass('hidden');
    readURL1(this);
  });
  $("#image2-upload").change(function(){
    $('#img2_prev').removeClass('hidden');
    readURL2(this);
  });
  $("#image3-upload").change(function(){
    $('#img3_prev').removeClass('hidden');
    readURL3(this);
  });
  $("#image4-upload").change(function(){
    $('#img4_prev').removeClass('hidden');
    readURL4(this);
  });
});

</script>
<script>
$( "li.admin-content" ).addClass( "active" );
</script>
