<%= simple_form_for @page, method: :put, url: content_update_path do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="form-group">
      <div class="col-md-8">
        <label>Title</label>
        <%= f.input :title, placeholder: 'Title', label: false %>
        <div class="clearfix"></div>

        <label>Slug</label>
        <div id="edit-slug-box">
          <strong>Permalink: </strong>
          <span id="sample-permalink">parrot66.com/
            <span id="editable-post-name"><%= f.input :slug, placeholder: 'slug', label: false %></span>/
          </span>
        </div>

      </div>

      <div class="col-md-12">
        <h3>Banner Image</h3>
        <%= image_tag(@page.image1_url, id: 'img_prev') if @page.image1? %>
        <%= f.file_field :image1, label: false, id: "image-upload" %>
        <div>Aspect Ratios: 1920x186</div>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-12">
        <h3>Section1</h3>


      <%= f.text_area :section1, label: false, :class => "tinymce", :rows => 15 %>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-12">
        <h3>Section2</h3>


      <%= f.text_area :section2, label: false, :class => "tinymce", :rows => 15 %>
        </div>
      <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12">
  <div class="form-actions flex">
    <div class="more-user flex-item"><%= link_to 'Cancel', cms_path %></div>
    <%= f.button :submit, "Save", :class => "btn-user" %>
  </div>
</div>
<% end %>

<script>
// slug change function
$("#page_title").keyup(function(){
    var Text = $(this).val();
    Text = Text.toLowerCase();
    Text = Text.replace(/ /g,'').replace(/[^\w-]+/g,'')
    $("#page_slug").val(Text);
});

// image preview
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#image-upload").change(function(){
    $('#img_prev').removeClass('hidden');
    readURL(this);
  });
});
</script>
<script>
$( "li.admin-content" ).addClass( "active" );
</script>
