<% if !@page.nil? %>
  <%= simple_form_for @page do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="form-group">
        <label>Title</label>
        <%= f.input :title, placeholder: 'Title', autofocus: true, label: false %>
        <div class="clearfix"></div>
        <label>Body</label>
        <%= f.input :body, placeholder: 'Body', label: false %>
        <div class="clearfix"></div>
        <label>Section 1</label>
        <%= f.input :section1, placeholder: 'Section 1', label: false %>
        <div class="clearfix"></div>
        <label>Section 2</label>
        <%= f.input :section2, placeholder: 'Section 2', label: false %>
        <div class="clearfix"></div>
        <label>Section 3</label>
        <%= f.input :section13, placeholder: 'Section 3', label: false %>
        <div class="clearfix"></div>
        <label>Section 4</label>
        <%= f.input :section4, placeholder: 'Section 4', label: false %>
        <div class="clearfix"></div>
        <label>Section 5</label>
        <%= f.input :section5, placeholder: 'Section 5', label: false %>
        <div class="clearfix"></div>
        <label>Section6</label>
        <%= f.input :section6, placeholder: 'Section 6', label: false %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save", :class => "btn-user" %>
    </div>
  <% end %>
<% end %>
