<!-- Certificate PDF FILE -->
<div class="certificate">
  <div class="modal-header">
    <div class="modal-h1-top">Show me the result!</div>

    <h4 class="modal-title">
      <div class="h1-style">Parrot ID Number: <%= user.parrot_id %></div>
      <div class="user-avatar">
        <img src="https://www.parrot66.com<%= user.avatar %>" style="border-radius: 50%">
        <!--<%= image_tag user.avatar %>-->
      </div>
    </h4>
  </div>
  <div class="modal-body">
    <div class="modal-h1-top">Personal Information</div>
    <table class="table">
      <tbody>
        <tr>
          <td>First Name</td>
          <td><%= user.f_name %></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><%= user.l_name %></td>
        </tr>
        <tr>
          <td>Date of Birth:</td>
          <td><%= user.date_of_birth %></td>
        </tr>
      </tbody>
    </table>
    <div class="modal-h1-top">Parrot Certification</div>
    <table class="table">
      <tbody>
        <tr>
          <td class="test-title" colspan="2"><%= record.test_name %></td>
        </tr>
        <tr>
          <td>Language:</td>
          <td><%= record.language %></td>
        </tr>
        <tr>
          <td>Rating:</td>
          <td>
            <%
          if !record.nil?
          case record.score
            when "1" %>
               Elementary
            <% when "2" %>
              Elementary Plus
            <% when "3" %>
              Limited Working
            <% when "4" %>
              Limited Working Plus
            <% when "5" %>
              General Professional
            <% when "failed" %>
              Failed
            <% else
            end
          end%>
        </td>
        </tr>
        <tr>
          <td>Certification Date:</td>
          <td><%= record.updated_at.strftime("%B %d %Y") %></td>
        </tr>
        <tr>
          <td>Certificate Expiration Date:</td>
          <td><%= (record.updated_at + (2*365*24*60*60)).strftime("%B %d %Y") %></td>
        </tr>
        <!--
        <tr>
          <td>Certificate Number:</td>
          <td>16DHK12</td>
        </tr>
        -->
      </tbody>
    </table>
  </div>
  <div class="modal-footer"></div>
</div>
