<%=render "header" %>
<div class="container-fluid">
  <div class="row"  id="content-outter">
    <!-- sidebar -->
    <%=render "siderbar" %>
    <!-- content -->

    <div class="col-md-10">
      <div class="content container-fluid">
        <!-- <div class="row"> -->
          <div class="col-md-12">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <div class="h1-style-user">Content Management System</div>

            <div class="row">

              <table class="tb-admin-tests">
                <thead>
                  <tr>
                    <th>Page Title</th>
                    <th></th>
                    <th>Page Blurb</th>
                    <th></th>
                    <th></th>
                    <th class="soBlurble-1 asc">Updated at</th>
                    <th></th>
                    <th>Edit</th>
                  </tr>
                </thead>

                <tbody>
                  <% @pages.each do |page| %>
                    <tr>
                      <td><%= page.title %></td>
                      <td></td>
                      <td><%= page.slug %></td>
                      <td></td>
                      <td></td>
                      <td><%= if page.updated_at.blank? then "" else page.updated_at.strftime('%m/%d/%Y') end %></td>
                      <td></td>
                      <td><%= link_to page_edit_path(page) do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<%=render "footer" %>
<script>
$( "li.admin-content" ).addClass( "active" );
</script>
