<%=render "header" %>
<div class="container-fluid">
  <div class="row"  id="content-outter">
    <!-- sidebar -->
    <%=render "siderbar" %>
    <!-- content -->

    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="row">
          <div class="col-md-12">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <div class="h1-style-user">Home</div>
            <!-- <div><%= session[:expires_at] %></div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <table class="tb-home">
              <thead class="th-user">
                <tr>
                  <th colspan="2">Certifications Achieved</th>
                </tr>
              </thead>
              <tbody>
                <% @test_records.where.not(score: [nil, ""]).each do |record| %>
                <tr>
                  <td><%= record.test_name %></td>
                  <td class="more-user"><a href="javascript:showCertification('<%= record.id%>', '<%= record.test_name%>', '<%= record.language%>', '<%= record.score%>')">Click Here</a></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-8">
            <table class="tb-home">
              <thead class="th-user">
                <tr>
                  <th colspan="3">Tests Available to Buy</th>
                </tr>
              </thead>
              <tbody>
                <% @latest_tests.each do |latest_test| %>
                <tr>
                  <td><%= latest_test.title %></td>
                  <td></td>
                  <td class="more-user">
                    <%= link_to test_brief_path(latest_test.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.test-window'} do %>Click Here<% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% if @current_user.rater? %>
          <div class="row">
          <div class="col-md-12">
            <div class="h2-style-user">Rater Dashboard</div>
          </div>
        </div>
          <div class="row">
          <div class="col-md-4">
            <table class="tb-home">
              <thead class="th-rater-user">
                <tr>
                  <th colspan="2">Responses to Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>There are <%= !@available_responses.nil? ? @available_responses.count : 0 %> responses to be rated</td>
                  <td class="more-user"><%= link_to "Click Here", rater_available_path %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-8">
            <table class="tb-home">
              <thead class="th-rater-user">
                <tr>
                  <th colspan="3">Want to rate tests in another Language or Industry?</th>
                </tr>
              </thead>
              <tbody>
                <tr><td colspan="3">English</td></tr>
                <% @english_responses.each do |english_responses| %>
                  <tr>
                    <td><%= english_responses.title %></td>
                    <td></td>
                    <td class="more-user"><%= link_to "Click Here", rater_available_path %></td>
                  </tr>
                <% end %>
              </tbody>
              <tbody>
                <tr><td colspan="3">Spanish</td></tr>
                <% @spanish_responses.each do |spanish_responses| %>
                  <tr>
                    <td><%= spanish_responses.title %></td>
                    <td></td>
                    <td class="more-user"><%= link_to "Click Here", rater_available_path %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="modal-window" class="modal fade test-window" role="dialog" aria-labelledby="TestModalLabel" aria-hidden="true"></div>

<%=render "footer" %>
<script>
$( "li.user-home" ).addClass( "active" );

function showCertification(recordId, textName,language, score){
  $('#test-title').html(textName);
  $('#language').html(language);
  $('#rating').html(getRating(score));
  $('#download-certificate').attr('href', '/certificate_pdf?id=' + recordId);
  $('#modal-certification').modal('show');
}

function getRating(score) {
  if(score === '1'){
    return 'Elementary';
  } else if(score === '2'){
    return 'Elementary Plus';
  } else if(score === '3'){
    return 'Limited Working';
  } else if(score === '4'){
    return 'Limited Working Plus';
  } else if(score === '5'){
    return 'General Professional';
  }

  return 'Failed';
}
</script>
