<%=render "header" %>
<div class="container-fluid">
  <div class="row"  id="content-outter">
    <!-- sidebar -->
    <%=render "siderbar" %>
    <!-- content -->
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="row">
          <div class="col-md-11">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <div class="h1-style-user"><%= @page.title %></div>
            <div class="row">
              <% if @page.page_type == "home" %>
                <%= render "home_edit" %>
              <% elsif @page.page_type == "howitworks" %>
                <%= render "howitworks_edit" %>
              <% elsif @page.page_type == "aboutthetests" %>
                <%= render "aboutthetests_edit" %>
              <% elsif @page.page_type == "aboutparrot" %>
                <%= render "aboutparrot_edit" %>
              <% elsif @page.page_type == "parrotforbusiness" %>
                <%= render "parrotforbusiness_edit" %>
              <% elsif @page.page_type == "howtobecomeaparrotrater" %>
                <%= render "howtobecomeaparrotrater_edit" %>
              <% elsif @page.page_type == "faq" %>
                <%= render "faq_edit" %>
              <% elsif @page.page_type == "privatepolicy" %>
                <%= render "privatepolicy_edit" %>
              <% elsif @page.page_type == "footer" %>
                <%= render "footer_edit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render "footer" %>
<%= tinymce %>
