<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">Send Rating</div>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
              <%= link_to 'Back to Tests', test_records_path, :class => 'btn btn-user-link flex-item' %>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
            <div class="h2-style-user flex-item">History</div>
              </div>
            <div class="col-md-6 text-right flex-end">
              <div class="page-number flex-item">1 - 15 of 42</div>
              <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
              <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="row">
            <table class="tb-history">
              <thead>
                <tr>
                  <th class="sortable-level asc">Recipient</th>
                  <th class="sortable-p-date asc">Sort by</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th class="sortable-rating asc">Date</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=render "/users/footer" %>
<script type="text/javascript">
$( "li.user-tests" ).addClass( "active" );
$( "#rating-history" ).addClass( "active" );

</script>
