<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">Cashflow</div>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
            <div class="h2-style-user flex-item">Rater Paycheck</div>
          </div>
            <div class="col-md-6 download-btn text-right flex-end">
              <!-- <select class="form-control time-selector flex-item" aria-describedby="showing">
                <option>June-Jul, 2017</option>
                <option>June-Jul, 2017</option>
                <option>June-Jul, 2017</option>
                <option>June-Jul, 2017</option>
                <option selected>June-Jul, 2017</option>
              </select> -->
            <%= link_to "Download Statement", payout_records_path(format: "csv"), :class => "btn btn-user flex-item" %>
            <%= link_to "Download PDF Statement", payout_records_path(format: "pdf"), :class => "btn btn-user flex-item" %>
              </div>
          </div>
          <div class="row">
                <table class="tb-raterpaycheck">
                  <thead class="th-user">
                    <tr>
                      <th>Rater</th>
                      <th>Parrot ID</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Number of Opinion</th>
                      <th>Amount(US$)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                    <% @payout_records = PayoutRecord.where(:rater_id => user.id) %>
                    <% sum = 0
                    @payout_records.each do |payout_record|
                      sum = sum.to_f + payout_record.amount.to_f
                    end

                    sum.to_s
                    %>
                      <tr>
                        <td><%= user.f_name %> <%= user.l_name %></td>
                        <td><%= user.parrot_id %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        <td><%= @payout_records.count %></td>
                        <td><%= sum %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
              <!-- <div class="flex-item">Show</div>
              <div class="flex-item">
                <select class="form-control amount" aria-describedby="showing">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option selected>6</option>
                </select>
              </div> -->


              </div>
              <div class="col-md-6 text-right flex-end">
                <!-- <div class="page-number flex-item">1 - 15 of 42</div>
                <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-right" aria-hidden="true"></i></div> -->
                <%= will_paginate @users, renderer: 'PaginateHelper::LinkRenderer' %>
              </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<%=render "/users/footer" %>

<script>
$( "li.admin-cashflow" ).addClass( "active" );
$("#rater-paycheck").addClass("active");
</script>
