<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">QAR</div>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
              <%= link_to 'Create QAR', new_qar_path, :class => 'btn btn-user-link flex-item' %>
              <!-- <div class="input-group stylish-input-group tests-search flex-item">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div> -->
              <!-- <button type="button" name="button" class="btn btn-user-icon flex-item"><i class="fa fa-filter" aria-hidden="true"></i></button> -->
              </div>
              <div class="col-md-6 text-right flex-end">
                <!-- <div class="page-number flex-item">1 - 15 of 42</div>
                <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-right" aria-hidden="true"></i></div> -->
                <%= will_paginate @qars, renderer: 'PaginateHelper::LinkRenderer' %>
              </div>
          </div>
          <div class="row">
            <table class="tb-admin-tests">
              <thead>
                <tr>
                  <th>QAR Titles</th>
                  <th>Language</th>
                  <th>Industry</th>
                  <th>Link Prompt</th>
                  <th>Link BMR</th>
                  <th>Link Response</th>
                  <th>Rating</th>
                  <th></th>
                  <!-- <th>Edit</th> -->
                  <th>Trash</th>
                </tr>
              </thead>

              <tbody>
                  <% @qars.each do |qar| %>
                  <tr>
                    <td><%= qar.title %></td>
                    <td><%= qar.language %></td>
                    <td><%= qar.industry %></td>

                    <% if Prompt.find_by_id(qar.prompt) %>
                    <td><%= Prompt.find_by_id(qar.prompt).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Response.find_by_id(qar.bmr) %>
                    <td><%= Response.find_by_id(qar.bmr).title %></td>
                    <% else %>
                    <td><strong>BMR LOST</strong></td>
                    <% end %>

                    <% if Response.find_by_id(qar.response) %>
                    <td><%= Response.find_by_id(qar.response).title %></td>
                    <% else %>
                    <td><strong>Response LOST</strong></td>
                    <% end %>

                    <td><%= qar.rating %></td>
                    <td></td>

                    <!-- <td><%= link_to edit_qar_path(qar) do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %></td> -->
                    <td><%= link_to qar, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash" aria-hidden="true"></i><% end %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%=render "/users/footer" %>
<script>
//sidebar
$("li.admin-prompts").addClass("active");
$("#qar").addClass("active");

</script>
