<!-- take-test-header -->
<div class="header-user">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="test-title">Rating: <%= @qar.title %></div>
  </div>
  </nav>
</div>
<!-- take-test-body -->
<div class="rate-test">
  <div class="container">
    <div class="rate-test-inner">
      <div class="row">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <div class="row section-b">
        <div class="col-md-2"><%= image_tag ( "homepage/logo-86x85.png") %></div>
        <div class="col-md-4">
       </div>
      </div>
      <div class="section-b">
            <div class="questions">
              <div class="question_text">
                <%= @prompt.text.html_safe if !@prompt.text.nil? %>
              </div>
              <div class="test-video"><%= video_tag(@prompt.video, controls: true) unless @prompt.video.blank? %></div>
              <div class="test-audio"><%= audio_tag(@prompt.audio, controls: true) unless @prompt.audio.blank? %></div>
              <div><%= image_tag @prompt.image if @prompt.image %></div>
              <div class="flex">
                <div class="flex-item">
                  <div>The Bench Mark Response(BMR)</div>
                  <% if @bmr %>
                  <!--
                  <%= audio_tag(@bmr.avatar, controls: true, onended: "enableRadioButton()") %>
                  -->
                  <audio id="bmr" controls="controls" onended="checkBMR()" src="<%= @bmr.avatar %>"></audio>
                  <% else %>
                  <strong>BMR LOST</strong>
                  <% end %>
                  <!-- <button type="button" name="button" class="btn btn-user btn-bmr-response start-bmr" id="recorder_btn" onclick="startRecording();"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Play Benchmark Response</button>
                  <button type="button" name="button" class="btn btn-user btn-bmr-response stop-bmr" onclick="stopRecording();"><i class="fa fa-stop-circle-o" aria-hidden="true"></i>Stop Benchmark Response<div class="loading"><span></span><span></span><span></span></div></button> -->
                </div>

              <div class="flex-item">
                <div>Candidate Response</div>
                <!--
                <%= audio_tag(@response.avatar, controls: true,  onended: "enableBMR()") %>
                -->
                <audio id="cr" controls="controls" onended="checkCR()" src="<%= @response.avatar %>"></audio>
                <!-- <button type="button" name="button" class="btn btn-user btn-bmr-response start-cdnr" id="recorder_btn" onclick="startRecording();"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Play Candidate Response</button>
                <button type="button" name="button" class="btn btn-user btn-bmr-response stop-cdnr" onclick="stopRecording();"><i class="fa fa-stop-circle-o" aria-hidden="true"></i> Stop Candidate Response<div class="loading"><span></span><span></span><span></span></div></button> -->
              </div>
            </div>
        </div>
          <div class="rating-test-section">
            <div class="cr-title">Rate the Candidate Response (CR)</div>
            <div class="cr-is">The Candidate Response(CR) is</div>
              <div class="cr-rating">
              <label class="radio-inline"><input type="radio" name="optradio" value="better than" disabled>better than</label>
              <label class="radio-inline"><input type="radio" name="optradio" value="as good as" disabled>as good as</label>
              <label class="radio-inline"><input type="radio" name="optradio" value="worse than" disabled>worse than</label>
              </div>
            <div class="cr-is">the Benchmark.</div>
          </div>
          <div class="flex">
        <div class="flex-item">  <button type="button" class="btn btn-user-fade" id="submit" disabled>Submit</button></div>
          <div class="flex-item"> <%= link_to 'Cancel', rater_available_path, :class=>"btn btn-user-fade" %></div>
          <span id="send_error_msg" style="color:red;">Please listen to BMR and CR before rating.</span>
         </div>
        </div>
      </div>
    </div>
  </div>

<%=render "/users/footer" %>

<script>

  var isBMRPlayed = false;
  var isCRPlayed = false;

  if ($("#bmr").length == 0) {
    console.log("No BMR");
    isBMRPlayed = true;
    checkRadioButton();
  }

  $("#bmr").on("error", function () {
    console.log("BMR Error");
    isBMRPlayed = true;
    checkRadioButton();
  });

  document.getElementById("bmr").onloadedmetadata = function() {
    //console.log("BMR: " + this.duration)
    if (this.duration == 0) {
      console.log("BMR 0");
      isBMRPlayed = true;
      checkRadioButton();
    }
  }

  if ($("#cr").length == 0) {
    console.log("No CR");
    isCRPlayed = true;
    checkRadioButton();
  }

  $("#cr").on("error", function () {
    console.log("CR Error");
    isCRPlayed = true;
    checkRadioButton();
  });

  document.getElementById("cr").onloadedmetadata = function() {
    //console.log("CR: " + this.duration)
    if (this.duration == 0) {
      console.log("CR 0");
      isCRPlayed = true;
      checkRadioButton();
    }
  }

  function checkBMR() {
    isBMRPlayed = true;
    checkRadioButton();
  }

  function checkCR() {
    //$.playSound("@bmr.avatar");
    isCRPlayed = true;
    checkRadioButton();
  }

  function checkRadioButton() {
    if(isBMRPlayed && isCRPlayed){
      $("input[type=radio]").attr('disabled', false);
    }
  }

$(function(){
  $('input[name=optradio]').change(function(){
    if ($(this).is(':checked')) {
       $('#submit').addClass('btn-submit-rate');
       $('#submit').attr('disabled', false);
       $('#send_error_msg').text('');
    }
  });
});

$('#submit').click(function() {

  var qar_id = <%= @qar.id %>;
  var rating = 0;

  if ($('[name="optradio"]:checked').length == 0) {
    rating = 0;


  }else {
    rating = $('input[name=optradio]:checked').val();
  }

  if(rating == 0 || confirm("You said the Candidate was " + $('[name="optradio"]:checked').val() + " the Benchmark - are you sure?")){
    $.ajax({
      url: '/qar_submit',
      type: 'post',
      data: {
        qar_id: qar_id,
        rating: rating
      },
      success: function() {console.log();},
      error: function() {console.log('error');}
    });
  }
});

// record-btn
$('.stop-bmr').click(function(){
  $('.start-bmr').toggle();
  $('.stop-bmr').toggle();
});
$( ".stop-bmr" ).hide();
$('.start-bmr').click(function(){
  $('.start-bmr').toggle();
  $('.stop-bmr').toggle();
});
$('.stop-cdnr').click(function(){
  $('.start-cdnr').toggle();
  $('.stop-cdnr').toggle();
});
$( ".stop-cdnr" ).hide();
$('.start-cdnr').click(function(){
  $('.start-cdnr').toggle();
  $('.stop-cdnr').toggle();
});

//stop 2 or more audios playing at the same time


document.addEventListener('play', function(e){
    var audios = document.getElementsByTagName('audio');
    for(var i = 0, len = audios.length; i < len;i++){
        if(audios[i] != e.target){
            audios[i].pause();
        }
    }
}, true);




// To remove audio player seeker



</script>
