<%=render "homes/header" %>
<div class="thankyou">
  <div class="container-fluid banner thankyou-head">
    <div class="container">
      <div class="h1-style">Thank you for your message</div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-12">
      <p class="p-lg">Thank you for contact to Parrot.</p>
      <p>We will give you a feedback soon.</p>

      <a href="/">
        <div class="back-home"><i class="fa fa-arrow-left"></i>Back to Homepage</div>
      </a>
    </div>
  </div>
</div>
<%=render "homes/footer" %>
