<%=render "homes/header" %>
<div class="contact-us-homepage">
  <div class="container-fluid banner-right contact-us-head">
    <div class="container">
      <div class="h1-style-right">Contact Us</div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-8">
      <div class="h1-style">Send a Message</div>
      <p>Did we miss something?!  If you can’t find your answer online (or just don’t want to look!), let us know and we’ll get back to you within 24hrs (that includes the weekend).  Remember, there is no such thing as a stupid question, so don’t hold back!! We would love to hear from you…</p>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= simple_form_for @contact, :html => {:class => 'send-msg-form' } do |f| %>
        <%= f.input :name, :required => true, placeholder: 'Name', label: false %>
        <%= f.input :email, :required => true, placeholder: 'Email', label: false %>
        <%= f.input :subject,  :required => true, placeholder: 'Subject', label: false %>
        <%= f.input :message, :as => :text, :required => true, placeholder: 'Comments', label: false %>
        <div class= "hidden">
          <!-- <%= f.input :nickname, :hint => 'Leave this field blank!' %> -->
        </div>
        <div>
        </br>
        <%= f.button :submit, 'Send', :class=> "btn btn-color" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="btn-info-block">
        <div class="u-title">Contact Information</div>
        <p>Call or email us – If you choose to call, we are available from 7am to 7pm EST; if you email us, give us 24hrs and you’ll have a response in your inbox!</p>
        <p>
          <i class="fa fa-phone"></i>+1 917 722 2391</p>
        <p>
          <i class="fa fa-envelope"></i>info@parrot.com</p>

      </div>
      <div class="under-info-block">
        <div class="u-title">Get Social</div>
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- section 2 - no-app -->
  <div class="banner-pic-txt">
    <div class="row">
      <div class="col-md-5 pic"><%= image_tag ( "homepage/Internal/contact-us-join-team-802x326.jpg") %></div>
      <div class="container">
        <div class="col-md-7 txt">
          <div class="h1-style-two-line">Join our team and become a parrot rater</div>
          <div class="btn btn-color">Join Now</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render "homes/footer" %>

<script>
// validiation
$(document).ready(function() {

    FormValidation.Validator.securePassword = {
      validate: function(validator, $field, options) {
          var value = $field.val();
          if (value === '') {
              return true;
          }
          return true;
      }
  };

    $('#new_contact').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'contact[name]': {
                validators: {
                    notEmpty: {
                        message: 'The field cannot be empty'
                    }
                }
            },
            'contact[email]': {
              validators: {
                notEmpty: {
                    message: 'The email is required and cannot be empty'
                },
                  regexp: {
                      regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                      message: 'The value is not a valid email address'
                  }
              }
           },
           'contact[subject]': {
               validators: {
                   notEmpty: {
                       message: 'The field cannot be empty'
                   }
               }
           },
           'contact[message]': {
               validators: {
                   notEmpty: {
                       message: 'The field cannot be empty'
                   }
               }
           }
        }
    }).on('err.validator.fv', function(e, data) {
            // $(e.target)    --> The field element
            // data.fv        --> The FormValidation instance
            // data.field     --> The field name
            // data.element   --> The field element
            // data.validator --> The current validator name
            data.element
                .data('fv.messages')
                // Hide all the messages
                .find('.help-block[data-fv-for="' + data.field + '"]').hide()
                // Show only message associated with current validator
                .filter('[data-fv-validator="' + data.validator + '"]').show();
        });
});
</script>
