<%=render "users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <!-- sidebar -->
    <%=render "users/siderbar" %>
    <!-- content -->

    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="create-prompts">
          <div class="row">
            <% if notice %>
            <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user col-md-4">Edit Response</div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <%= simple_form_for @response do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <div class="clearfix"></div>
                  <label>Title</label>
                  <%= f.input :title, placeholder: 'Response Name', label: false %>
                  <div class="clearfix"></div>
                  <label>Language</label>
                  <%= f.input :language, prompt: 'Select Language', label: false, :input_html => { :class => "select_filter" }, collection:  [ "English", "Spanish"] %>
                  <div class="clearfix"></div>
                  <label>Industry</label>
                  <%= f.input :industry, prompt: 'Select Industry', label: false, :input_html => { :class => "select_filter" }, collection:  [ "Customer Service", "Retail Banking", "Health Care", "Insurance"] %>
                  <div class="clearfix"></div>
                  <label>Level</label>
                  <%= f.input :level, prompt: 'Select Level', label: false, :input_html => { :class => "select_filter" }, collection: [ "Elementary – ILR 1", "Elementary Plus – ILR 1+", "Limited Working – ILR 2", "Limited Working Plus – ILR 2+", "General Professional – ILR 3"] %>
                  <div class="clearfix"></div>
                  <label>Upload File</label>
                  <div class="inline-button">
                    <%= f.file_field :avatar, label: false , :class => "file_data", id: "response_avatar" %>
                    <%= f.hidden_field :avatar_cache %>
                    <div class="">-or-</div>
                    <button type="button" name="button" class="btn btn-user btn-record response-start-record" id="recorder_btn" onclick="startRecording();"><i class="fa fa-microphone" aria-hidden="true"></i>Start Recording</button>
                    <button type="button" name="button" class="btn btn-user btn-record response-stop-record" onclick="stopRecording();"><span class="stop-record"><i class="fa fa-microphone" aria-hidden="true"></i>Stop Recording</span></button>
                    <ul id="recordingslist" class="file_data"></ul>
                  </div>
                  <div class="clearfix"></div>
                  <label>Type</label>
                  <%= f.input :response_type, prompt: 'Select BMR or Response', label: false, collection: [ "BMR", "Response"] %>
                  <div class="clearfix"></div>
                </div>
                <div class="form-actions flex">
                  <div class="" data-toggle="modal" data-target="#loading-modal"><%= f.button :submit, "Save", :class => "btn-user flex-item" %></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- loading modal -->
<div id="loading-modal" class="modal fade">
  <div class="modal-out">
    <div class="modal-dialog">
      <div class="circle spinner2"></div>
    </div>
  </div>
</div>

<%=render "users/footer" %>
<%= javascript_include_tag "js/responses.js" %>
<script type="text/javascript">
// record-btn
$('.response-stop-record').click(function(){
  $('.response-start-record').toggle();
  $('.response-stop-record').toggle();
});
$( ".response-stop-record" ).hide();
$('.response-start-record').click(function(){
  $('.response-start-record').toggle();
  $('.response-stop-record').toggle();
});
//play-prompt
$('.play-prompt').click(function(){
  $('span.play-test').toggle();
  $('span.stop-test').toggle();
});

// cookie
  $(document).ready(function() {
      $('#response_preview').click(function(){
      var response_title = ($("#response_title").val());
      $.cookie('response_title', response_title );
      console.log($.cookie('response_title'));
      var response_language = ($("#response_language").val());
      $.cookie('response_language', response_language );
      console.log($.cookie('response_language'));
      var response_industry = ($("#response_industry").val());
      $.cookie('response_industry', response_industry );
      console.log($.cookie('response_industry'));
      var response_level = ($("#response_level").val());
      $.cookie('response_level', response_level );
      console.log($.cookie('response_level'));

     $('.preview_response_title').html($.cookie('response_title'));
     $('.preview_response_lang').html($.cookie('response_language'));
     $('.preview_response_ind').html($.cookie('response_industry'));
     $('.preview_response_level').html($.cookie('response_level'));
     $('.preview_response_level').html($.cookie('response_level'));
      // console.log($('input[name="response[title]"]').val());
        });
  });
</script>
