<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">Response</div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-6 flex">
              <%= link_to 'Create Response', new_response_path, method: :get, :class => 'btn btn-user-link flex-item' %>
            </div>
            <div class="col-md-8 col-xs-6 text-right flex-end">
              <div class="btn-group paginate-search" role="group" aria-label="search">
                <!--<input type="text" id="text-title" name="title" class="btn btn-default" placeholder="Search Title...">-->
                <input type="text" id="text-parrotid" name="parrotid" class="btn btn-default" placeholder="Search Parrot ID...">
                <input type="text" id="text-firstname" name="firstname" class="btn btn-default" placeholder="Search Firstname...">
                <!--<input type="text" id="text-testid" name="testid" class="btn btn-default" placeholder="Search Test ID...">-->
                <button type="button" class="btn btn-default btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </div>
              <%= will_paginate @responses, renderer: 'PaginateHelper::LinkRenderer' %>
            </div>
          </div>
          <div class="row">
            <table class="tb-admin-tests">
              <thead>
                <tr>
                  <th>Set as BMR</th>
                  <th>Response Titles</th>
                  <th>Language</th>
                  <th>Industry</th>
                  <th class="sortable-level asc">Level</th>
                  <th class="sortable-p-date asc">Test Date</th>
                  <th class="sortable-rating asc">Rating</th>
                  <th class="sortable-parrot-id asc">Parrot ID</th>
                  <!--<th class="sortable-user-id asc">User ID</th>-->
                  <th class="sortable-id asc">First Name</th>
                  <th>Edit</th>
                  <th>Trash</th>
                </tr>
              </thead>

              <tbody>
                <% @responses.each do |response| %>
                  <tr>
                    <td>
                      <label class="switch">
                        <% if response.response_type == 1 %>
                          <input type="checkbox" value="<%= response.id %>" class="btn-on-off" checked="true">
                        <% else %>
                          <input type="checkbox" value="<%= response.id %>" class="btn-on-off">
                        <% end %>
                      <span class="slider"></span>
                      </label>
                   </td>
                    <td><%= response.title %></td>
                    <td><%= response.language %></td>
                    <td><%= response.industry %></td>
                    <td><%=response.level %></td>
                    <td><%= if response.created_at.blank? then "" else response.created_at.strftime('%m/%d/%Y') end  %></td>
                    <td><%= response.score %></td>
                    <td><%= User.find_by_id(response.user_id).parrot_id %></td>
                    <!--<td><%= User.find_by_id(response.user_id).id %></td>-->
                    <td><%= User.find_by_id(response.user_id).f_name %></td>
                    <td><%= link_to edit_response_path(response) do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %></td>
                    <td><%= link_to response, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash" aria-hidden="true"></i><% end %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%=render "/users/footer" %>
<script>
$( "li.admin-response" ).addClass( "active" );
$(".sortable-level").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $(".sortable-level").removeClass('asc').removeClass('desc');
    $(this).addClass(o);
    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-p-date").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $(".sortable-p-date").removeClass('asc').removeClass('desc');
    $(this).addClass(o);
    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-rating").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $(".sortable-rating").removeClass('asc').removeClass('desc');
    $(this).addClass(o);
    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-parrot-id").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $(".sortable-parrot-id").removeClass('asc').removeClass('desc');
    $(this).addClass(o);
    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-user-id").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $(".sortable-user-id").removeClass('asc').removeClass('desc');
    $(this).addClass(o);
    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
// AJAX for on-off-button

$('.btn-on-off').click(function() {
  var response_type = 0;
  if ($(this).is(':checked')) {
    response_type = 1;
  }else {
    response_type = 0;
  }
  var response_id = $(this).val();
  console.log('response_type =' + response_type);
  console.log('response_id = ' + response_id);
  $.ajax({
    url: '/change_response_type',
    type: 'post',
    data: {
      response_type : response_type,
      response_id : response_id
    },
    // success: function() {console.log(data);},
    // error: function() {console.log('error');}
  });
  // console.log(data);
});

$(function() {
  $('.btn-search').click(function(){
    //if($('#text-title').val() !== ''){
      //location.href = '/responses?title=' + $('#text-title').val();
    //}
    if($('#text-parrotid').val() !== ''){
      location.href = '/responses?parrotid=' + $('#text-parrotid').val();
    }
    if($('#text-firstname').val() !== ''){
      location.href = '/responses?firstname=' + $('#text-firstname').val();
    }
    //if($('#text-testid').val() !== ''){
      //location.href = '/responses?testid=' + $('#text-testid').val();
    //}
  });

  function initSearchText(){
    var url = new URL(location.href);
    var title = url.searchParams.get("title");
    var parrotid = url.searchParams.get("parrotid");
    var firstname = url.searchParams.get("firstname");
    var testid = url.searchParams.get("testid");

    //if(title !== null && title !== ''){
      //$('#text-title').val(title);
    //}
    if(parrotid !== null && parrotid !== ''){
      $('#text-parrotid').val(parrotid);
    }
    if(firstname !== null && firstname !== ''){
      $('#text-firstname').val(firstname);
    }
    //if(testid !== null && testid !== ''){
      //$('#text-testid').val(testid);
    //}
  }

  initSearchText();
});
</script>
