<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="rate-available">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">Response</div>
          </div>
          <div class="row">
            <div class="h2-style-user">Photos Waiting for Verification</div>
          </div>
          <div class="row">
            <table class="tb-response">
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Language</th>
                  <th>Industry</th>
                  <th>Test Date</th>
                  <th>Verify Photo</th>
                </tr>
              </thead>
              <tbody>
                <% if !@wait_for_verify_tests.nil? %>
                  <% @wait_for_verify_tests.each do |wvt| %>

                    <tr>
                      <td><%= wvt.test_name %></td>
                      <td><%= wvt.language %></td>
                      <td><%= wvt.industry %></td>
                      <td><%= if wvt.created_at.blank? then " " else wvt.created_at.strftime('%m/%d/%Y') end  %></td>
                      <td><%= link_to 'Verify Now', photo_verification_path(wvt), :class=>"rate-now" %></td>
                    </tr>

                  <% end %>
              <% end %>
              </tbody> 
            </table>
          </div>
          <div class="row">
            <div class="h2-style-user">English</div>
          </div>
          <div class="row">
            <table class="tb-response">
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Industry</th>
                  <th>Test Date</th>
                  <th>Rate Response</th>
                </tr>
              </thead>
              <tbody>
              <% @english_responses.first(1).each do |er| %>

                    <tr>
                      <td><%= er.title %></td>
                      <td><%= er.industry %></td>
                      <td><%= if er.created_at.blank? then "" else er.created_at.strftime('%m/%d/%Y') end %></td>
                      <td><%= link_to 'Rate Now', rate_response_path(er), :class=>"rate-now" %></td>
                    </tr>

              <% end %>
              <% @english_qars.first(1).each do |eq| %>

                <tr>
                  <td><%= eq.title %></td>
                  <td><%= eq.industry %></td>
                  <td><%= if eq.created_at.blank? then "" else eq.created_at.strftime('%m/%d/%Y') end %></td>
                  <td><%= link_to 'Rate Now', qar_path(eq), :class=>"rate-now" %></td>
                </tr>

              <% end %>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="h2-style-user">Spanish</div>
          </div>
          <div class="row">
            <table class="tb-response">
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Industry</th>
                  <th>Test Date</th>
                  <th>Rate Response</th>
                </tr>
              </thead>
              <tbody>
              <% @spanish_responses.first(1).each do |sr| %>
                    <tr>
                      <td><%= sr.title %></td>
                      <td><%= sr.industry %></td>
                      <td><%= if sr.created_at.blank? then "" else sr.created_at.strftime('%m/%d/%Y') end %></td>
                      <td><%= link_to 'Rate Now', rate_response_path(sr), :class=>"rate-now" %></td>
                    </tr>
              <% end %>
              <% @spanish_qars.first(1).each do |sq| %>

                <tr>
                  <td><%= sq.title %></td>
                  <td><%= sq.industry %></td>
                  <td><%= if sq.created_at.blank? then "" else sq.created_at.strftime('%m/%d/%Y') end %></td>
                  <td><%= link_to 'Rate Now', qar_path(sq), :class=>"rate-now" %></td>
                </tr>

              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render "/users/footer" %>

<script type="text/javascript">
  $( "li.user-response" ).addClass( "active" );
</script>
