<!-- Payment PDF FILE-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
        <div class="h2-style-user">Purchase History</div>
      </div>
        <div class="col-md-6 download-btn">
        </div>
      </div>
      <div class="row">
        <table class="tb-payment">
          <thead class="th-user">
            <tr>
              <th>Test Name</th>
              <th>Purchase Date</th>
              <th>Amount(US$)</th>
	      <th>Transaction ID</th>
            </tr>
          </thead>
          <tbody>
            <% @payment_records.each do |payment_record| %>
              <tr>
                <td><%= payment_record.test_name %></td>
                <td><%= payment_record.payment_time %></td>
                <td><%= payment_record.price %></td>
                <td><%= payment_record.payment_id %></td>
	     </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
