<div class="modal-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title">
          <div class="modal-h1-top">Test > <%= @test.title %></div>
        </h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Language</td>
            <td><%= @test.language %></td>
          </tr>
          <tr>
            <td>Industry</td>
            <td><%= @test.industry %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= @test.description %></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><%= @test.time %> min</td>
          </tr>
          <tr>
            <td>Price</td>
            <td><%= @test.price %> USD</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/<%= @aboutthetests.slug %>" class="btn btn-user">Check Out</a>
      </div>
    </div>
  </div>
</div>
