<% @tests.each do |test| %>
  <div class="col-md-6">
    <div class="test-info">
      <div class="test-title-price">
      <div class="test-title"><%= test.title %></div>
      <div class="test-price">$ <%= test.price %> USD</div>
      <div class="clearfix"></div>
      </div>
      <p><%= test.description %>
        <span class="more">
          <a href="#">Know More</a>
        </span>
      </p>
      <div class="test-icon">
        <span>
          <i class="fa fa-star"></i>
          <%= test.industry %></span>
        <span>
          <i class="fa fa-hourglass-end"></i>
          <%= test.time %> min</span>
      </div>
      <%= session[:test_items] %>
      <div class="btn-group btn-group-sm">
        <button type="button" name="button" class="btn btn-lightgreen add_to_cart" data-toggle="modal" data-target="#add-to-cart" value="<%= test.id %>">Add to Cart</button>
        <button type="button" name="button" class="btn btn-darkgreen" data-toggle="modal" data-target="#try-prompt">Try Test</button>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 flex"></div>
    <div class="col-md-6 text-right flex-end">
      <%= will_paginate @tests, renderer: 'PaginateHelper::LinkRenderer' %>
    </div>
</div>


<script>
$(document).ready(function()
	{
		$('.modal-backdrop').remove();
	});
  
$('.add_to_cart').click(function(){
  var test = $(this).val();
  // console.log(test);

  $.post("/add_to_cart", {
    test: test
  }, function (data, status) {
    if(data.status == "false"){
      console.log("Data: " + data.status);
      console.log("Data: " + data.message);
    }else{
      console.log("Data: " + data.status);
      console.log("Data: " + data.message);
    }
  });

  // console.log(tests);
});
</script>
