<%=render "header" %>
<div class="how-to-be-PR">
  <div class="container-fluid how-to-be-PR-head" style="background-image: url('<%= @page.image1 if @page.image1? %>');">
    <div class="container">
      <div class="h1-style"><%= @page.title %></div>
    </div>
  </div>
  <div class="container section">
    <div class="col-md-8">
        <!-- <div id="accordion" class="panel-group">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><span>Requirments</span></a>
              </h4>
            </div>
            <div id="panelBodyOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>The genius of Parrot66 is in the patent pending process that allows us to use everyday bilinguals to evaluate language skills.  After all, our consumer base is typically not a bunch of language experts, but the billions of simply native or bilingual people that prefer to communicate in a language other than English. Parrot66 is the only language certification in the market, by the people, for the people!  To get started working as a Parrot Rater, will need to be at least 18 years old and have scored an ILR 3 on the Parrot test (top score on the scale).  Once you have done this, you will be put through an online training/certification process and will then be on your way to helping fuel the movement to empower true bilinguals!</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><span>Process</span></a>
              </h4>
            </div>
            <div id="panelBodyTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Submit your Parrot test score (ILR 3 required), and select the “Become a Parrot Rater!” button in your account. We will take over from here – the rest is easy! You will be working from home, or wherever you want, and can work whenever you want, and however much you want! Whether you want to rate tests for 8hrs a day, or you just want a little extra money, you are welcome to join the Parrot family!!</p>
              </div>
            </div>
          </div>
        </div> -->
        <%= @page.section1.html_safe %>


    </div>
    <div class="col-md-4">
      <div class="btn-info-block">
        <div class="sign-up-now">
          <div class="btn btn-color btn-join">
            <%= link_to 'Join Now', new_user_path %>
          </div>
          <p>No time like the present! If you are between jobs and want to fill a gap on your resume, or you want this to be your permanent and primary source of income, Parrot offers you a solution. Don’t wait, start today!</p>
        </div>
      </div>
      <div class="under-info-block">
        <div class="u-title">Available Tests</div>
        <ul>
          <% @tests.each do |test| %>
            <li><%= link_to test_introduction_path(test), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.modal-test'} do %><%= test.title %><% end %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- section 2 - Rater-Benefits -->
  <div class="section how-it-works">
    <div class="container" id="rt-benefits">
      <!-- <div class="row how-top">
        <div class="col-md-12">
          <div class="h1-style-center">Rater Benefits</div>
          <p>Not only can you earn awesome money from home or work whenever you want, you get to add this experience to your resume and really showcase your language ability as a Certified Language Evaluator for Parrot66!</p>
        </div>
      </div>
      <div class="row how-bottom">
        <div class="col-md-4" class="how-link">
          <a href="#">
            <%= image_tag ( "homepage/icon/earn-money.png") , :class=>'img-size-circle'%>
            <div class="h2-style">Earn money from home on your own time!</div>
            <p>Earn money without the commute!  As a Parrot Rater you will be working from wherever you want, and can listen to tests right over your smartphone or tablet! Click <span class="here">here</span> and join Parrot today!!</p>
          </a>
        </div>
        <div class="col-md-4" class="how-link">
          <a href="#">
            <%= image_tag ( "homepage/icon/boost-your-resume.png") , :class=>'img-size-circle'%>
            <div class="h2-style">Boost your resume!</div>
            <br>

            <p>Build up that resume, the same time you build up your bank account! If you’re our of work don’t let that gap build up on your resume, and do it by further providing your bilingual skills by becoming an official Parrot Rater! Click <span class="here">here<span> and join Parrot today!!</p>

          </a>
        </div>
        <div class="col-md-4" class="how-link">
          <a href="#">
            <%= image_tag ( "homepage/icon/position-yorself.png"),  :class=>'img-size-circle' %>
            <div class="h2-style">Position yourself as an expert in your language!</div>
            <p>Fast cash!  Not only can you earn up to $20/hr, but we’ll pay you every week!  We want to put that money in your pocket asap, and offer you a number of (free) ways to get it there fast! Want to find out more?  Click <span class="here">here</span> and join Parrot today!!</p>

          </a>
        </div>
      </div> -->
      <%= @page.section2.html_safe %>
    </div>
  </div>
  <!-- section 3 - BECOME A RATER -->
  <!-- <div class="banner-txt-pic become-a-rater">
    <div class="container">
      <div class="row">
        <div class="col-md-7 txt">
          <div class="h1-style">Become A Rater</div>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="InputName-become-rater" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="InputEmail-become-rater" aria-describedby="emailHelp" placeholder="Email">
            </div>
          </form>
          <div class="btn btn-color">Sign Up</div>
        </div>
        <div class="col-md-5 pic"><%= image_tag ( "homepage/Internal/beome-a-rater-944x376.jpg") %></div>
      </div>
    </div>
  </div> -->
</div>

<div id="modal-window" class="modal fade test-window" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<%=render "footer" %>
