/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "lato";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 .invoice {
    width: 700px;
    max-width: 700px;
    border: 1px solid grey;
    margin: 50px;
    padding: 50px;
   
    h1 {
      text-align: center;
      margin-bottom: 100px;
    }
    .notes {
      margin-top: 100px;
    }
   
    table {
      width: 90%;
      text-align: left;
    }
    th {
      padding-bottom: 15px;
    }
   
    .total td {
      font-size: 20px;
      font-weight: bold;
      padding-top: 25px;
    }
  }
