// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.camera {
  display: none;
  // position: absolute;
  // top: 0;
  // left: -1000px;
}

a.link-disabled {
   pointer-events: none;
   cursor: default;
}
