// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'reset';
$background-grey: #f5f5f5;
$light-green: #8cc63e;
$dark-green: #006F3A;
$grey: #666666;
$footer-grey: #e1e1e1;

body {
  font-family: 'Lato', sans-serif !important;
}
//==========layout==========
.flex{
  display: flex;
  align-items: center;
  .flex-item{
   margin-right: 10px;
  }
}
.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .flex-item{
    margin-left: 10px;

  }
}
.no-display{
  display: none;
}

.modal-activate:focus{
  outline: none;
}
//==========font-style==========
.h1-style-user {
  font-weight: 500;
  font-size: 32px;
  color: $light-green;
  text-transform: uppercase;
  padding: 20px 0;
}

.h2-style-user {
  color: $grey;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  line-height: 36px;
}

.h3-style-user {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  // padding: 0px 0px 20px;
}
.h4-style-user{
  color: $grey;
  font-size: 30px;
  margin: 20px 0px;
}
//==========btns==========
.more-user {
  text-decoration: underline;

  a {
    color: $grey;
    font-style: italic;
    font-size: 14px;

    &:hover {
      color: $light-green;
    }
  }
}

.btn-user {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3) !important;
  text-shadow: 1px 1px #fff;
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
  padding: 5px 35px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  height: 36px;
  color: $grey;
  line-height: 1.7em !important;
  position: relative;

  i{
    color:$grey;
  }
  a{
    color: $grey !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 36px;
  }

  &:hover {
    // border: 1px solid #e2e2e2 !important;
    border: 1px solid $grey !important;

    a {
      color: black !important;
    }

  }

  &:active {
    a {
      color: $grey !important;
    }
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}
.btn-user-link{
  @extend .btn-user;
  padding: 5px 50px !important;
}

.btn-user-fade {
  @extend .btn-user;
  color: #a5a5a5;
}

.btn-user-delete {
  @extend .btn-user;
  background: -webkit-linear-gradient(top, #b8b8b8,#939393 )!important;
  color: #fff;
  border: 1px solid #939393!important;
  text-shadow: 1px 1px #808080;
}
.btn-user-icon{
  @extend .btn-user;
  padding: 5px 12px!important;
  i{
    margin: auto;

  }

}
.btn-user-color{
  background-color: $light-green;
  height: 44px;
  width: 160px;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 10px 0px !important;
  margin-top:  10px;
  cursor: pointer;
  position: relative;
  a{
    top:12px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color:#fff!important;

    &:hover{
      color: #fff !important;
    }
    &:focus{
      outline:0px !important;
      color: #fff !important;
    }
    &:visited{
      color: #fff !important;
    }
  }

  &:hover {
    background-color: $dark-green !important;
    color: #fff !important;
  }

  &:focus {
    // background-color: $dark-green !important;
    color: #fff !important;
  }
  &:visited{
    // background-color: $dark-green !important;
    color: #fff !important;
  }

}

select.time-selector{
  width: 30%;
}
//btn-on-off
.btn-on-off{
  margin-bottom: 0px;
  cursor: pointer;
  input{
    position: absolute;
    opacity:0;
  }
  .btn-on{
    display:inline-block;
    width: 40px;
    height: 20px;
    border:1px solid #aaa;
    vertical-align: middle;
    background-color:#eee;
    border-radius:21px;

  }
  .btn-off{
    display:inline-block;
    width: 18px;
    height: 18px;
    border:1px solid #aaa;
    background-color:#fff;
    position: relative;
    box-shadow:1px 0 1px #999;
    border-radius:10px;
  }
  input:checked + .btn-on{ background-color:$light-green; }
  input:checked + .btn-on .btn-off{
    left: 20px;
  }

}

// switch
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border:1px solid #aaa;
  vertical-align: middle;
  background-color:#eee;
  border-radius:21px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 0px;
  border:1px solid #aaa;
  background-color:#fff;
  box-shadow:1px 0 1px #999;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:21px;
}

input:checked + .slider {
  background-color: $light-green;
  border-radius:25px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



input#user_avatar.file.optional {
  width: 150px;
  height: 35px;
  &:focus {
    border: 0 !important;
  }
}

input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus {
  outline: none !important;
}

input[type=file] {

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:before {
    content: 'Upload File';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 30px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 600;
    font-size: 14px;
    color: $grey;
  }

  &:hover::before {
    border-color: $grey;
    color: black;
  }

  &:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

#user_avatar,
button.preview {
  float: left;
}

.header-user {
  .navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    height: 4vh !important;
    color: #fff;
    box-shadow: 0 0 0 rgba(0,0,0,0);

    .navbar-nav {
      margin-right: 20px;

      li {
        a {
          color: #fff !important;
          text-transform: none;
          background-color: $light-green !important;
          margin: 5px 10px;
          text-align: center;
          font-weight: normal;
        }

        .fa {
          color: #fff;
        }
      }
    }
  }

  .hello-user {
    padding: 5px 20px;

    span {
      padding: 10px 3px;
      margin: 0;
      float: left;
      color: #fff;
    }
  }

  .navbar-default {
    background-color: $light-green !important;
    border: 0;
  }
}

#content-outter {
  overflow: hidden;
}
.notification{
  display: none;
  position: absolute;
  top: 50px;
  z-index: 50;
  background-color: #fff;
  width: 350px;
  right: 0px;
  padding: 10px 20px;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,.2);
  .user-more{
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }


}
.header-user .navbar .navbar-nav li .user-more a{
  text-align: right;
  text-decoration: underline !important;
  background-color: #fff !important;
  font-style: italic;
  color: $grey !important;
  &:hover{
    color: $light-green !important;
  }

}
.notice-bell{
  margin-top: 15px;
  cursor: pointer;
}

// ==========sidebar==========
.nav-sidebar {
  height: 100%;
  padding: 8px 0;
  border-right: 2px solid #ddd;
  margin-top: -9999px;
  margin-bottom: -9999px;
  padding-top: 9999px;
  padding-bottom: 9999px;
  .logo {
    padding: 20px 48px;
  }
  #send-scores,
  #rating-history,
  #create-tests,
  #create-prompts,
  #qar,
  #create-qar,
  #create-response,
  #rater-paycheck,
  #payout-new,
  #invite-user{
    a{
      color: $grey;
      &:hover{
        color: $light-green;
      }
    }
    display: none;
    padding-left: 50px;
    &.active{
      a{
        color: $light-green;
      }
    }
  }

  li.siderbar-item {
    cursor: pointer;
    font-weight: bold;
    padding: 10px 40px !important;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    border-radius: 0;
    text-transform: uppercase;
    border-left: 8px solid #fff;
    > div{
      margin: 10px 0px;
    }

    a{
      color: $grey;
    }
    &:hover {
      border-left: 8px solid $light-green !important;
      background-color: $background-grey !important;
      box-shadow: 1px 0 3px rgba(0,0,0,.3);
    }
    &.active{
      background-color: $background-grey;
      border-left: 8px solid $light-green;
      box-shadow: 1px 0 3px rgba(0,0,0,.3);
      a{
          color: black;
      }
      &:hover {
          border-left: 8px solid $light-green !important;
          color: black;
      }
      &:focus{
        background: none;
      }
      &.user-tests{
        #send-scores,
        #rating-history{
          display: block;
          transition: all 0.08s linear;

        }
      }
      &.admin-tests{
        #create-tests{
          display: block;
          transition: all 0.08s linear;
        }
      }
      &.admin-prompts {
        #create-prompts,
        #qar,
        #create-qar{
          display: block;
          transition: all 0.08s linear;

        }
      }
      &.admin-users{
        #invite-user{
          display: block;
          transition: all 0.08s linear;

        }
      }
      &.admin-response {
        #create-response{
          display: block;
          transition: all 0.08s linear;
        }
      }
      &.admin-cashflow{
        #rater-paycheck{
          display: block;
          transition: all 0.08s linear;

        }
        #payout-new{
          display: block;
          transition: all 0.08s linear;

        }
      }
    }
  }
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  border-color: $light-green;
}


.nav > li > a:hover {
  background-color: $background-grey;
}
.nav > li > a:focus{
  background-color: rgba(0,0,0,0)!important;

}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: $background-grey;
}

.dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
//==========content==========

.content {
  min-height: 91vh;
  background-color: $background-grey;
}


//==========tables==========
//table-user-msg
.tb-sample {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  th,td{
    width: 10%;
  }

  th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #e2e2e2;
    font-size: 14px;
    color: $grey;
    font-weight: bold;
  }

  td {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: #fff;

    &:hover {
      // background-color: #f2f2f2;
    }
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;

    &:hover {
      // background-color: #eeeeee;
    }
  }
}

.tb-inbox {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  .link-to-mail{
    position: absolute;
    left: 65px;
    width: 90%;
    height: 25px;
  }
th {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #e2e2e2;
  font-size: 14px;
  color: $grey;
  font-weight: bold;
  &:nth-child(1){
    width: 2%;
  }
  &:nth-child(2){
    width: 15%;
    font-weight: bold;
  }
  &:nth-child(3){
    width: 45%;
    color:$grey;
  }
  &:nth-child(4){
    width: 10%;
    color:$grey;
  }
  &:nth-child(5){
    width: 15%;
    color:$grey;
  }
  &:nth-child(6){
    width: 30%;
    color:$grey;
  }
}
tr:nth-child(odd) {
    background-color: #fff;
    &:hover{
      background-color: #f2f2f2;
    }
  }

tr:nth-child(even) {
    background-color: #e2e2e2;
    &:hover{
      background-color: #eeeeee;
    }
  }

td {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;

    span {
      color: $grey;
    }
    &:nth-child(1){
      width: 2%;
    }
    &:nth-child(2){
      width: 15%;
      font-weight: bold;
    }
    &:nth-child(3){
      width: 45%;
      color:$grey;
    }
    &:nth-child(4){
      width: 10%;
      color:$grey;
    }
    &:nth-child(5){
      width: 15%;
      color:$grey;
    }
    &:nth-child(6){
      width: 30%;
      color:$grey;
    }
  }
  .contact-user{
    width: 10%;
  }

  .contact-detail {
    width: 45%;
  }
}
.tb-overview{
  border: 1px solid #ccc;
  margin: 10px;
  &.light-green{
    width: 40%;
    th{
      background-color: $light-green;
    }
  }
  &.dark-green{
    width: 84%;
th{
      background-color: $dark-green;
    }

  }
  &.grey{
    width: 84%;
    th{
      background-color: $grey;

    }
    td{
      color:$light-green;
    }
  }
  th{
    color:#fff;
    font-size: 20px;
    padding: 10px;
  }

  td{
  font-size: 30px;
  padding: 10px;
  background-color: #fff;
  }
  a{
    color:$grey;
    font-size: 16px;
    text-decoration:underline !important;
    font-style: italic;
    text-align: left;
    padding: 10px 10px 30px 10px;
    &:hover{
      color: $light-green;
    }
  }

}
.tb-response{
  @extend .tb-sample;
}

// table-payment
.tb-payment {
  @extend .tb-inbox;
  tr:nth-child(odd) {
    background-color: #fff;
    &:hover{
      background-color: #fff !important;
    }
  }
  tr:nth-child(even) {
    background-color: #e2e2e2;
    &:hover{
      background-color: #e2e2e2 !important;
    }
  }
  th{
    font-size: 14px !important;
    color:$grey  !important;
    font-weight: bold  !important;
  }
  th,td {
    &:nth-child(1){
      width: 70% ;
    }
    &:nth-child(2){
      width: 15%;
      font-weight: bold;
      color:$grey;
    }
    &:nth-child(3){
      width: 15%;
      color:$grey;
      text-align: center;
    }
  }
}
.download-btn{
  text-align: right;
}

// table-tests
.tb-tests{
  @extend .tb-sample;
  i{
    color: $grey;
  }
  th,td {
    a{
      color:$grey !important;
      &:hover{
        color:$light-green !important;
      }
    }
    &:nth-child(1){
      width: 40%;
    }
    &:nth-child(2){
      width: 15%;
    }
    &:nth-child(3){
      width: 15%;

    }
    &:nth-child(4){
      width: 10%;
    }
    &:nth-child(5){
      width: 10%;
      text-align: center;
    }
    &:nth-child(6){
      width: 10%;
      text-align: center;
    }

  }
}
.tb-admin-tests{
  @extend .tb-sample;
  i{
    color: $grey;
  }
  td{
    font-weight: normal !important;
  }
  .form-group{
    margin-bottom: 0px;
  }

}
th,td{
  &:nth-child(1){
    width: 10%;
  }
  &:nth-child(2){
    width: 15%;

  }
  &:nth-child(3){
    width: 10%;

  }
  &:nth-child(4){
    width: 10%;

  }
  &:nth-child(6){
    width: 15%;

  }
  &:nth-child(7){
    width: 10%;
  }
  &:nth-child(8){
    width: 10%;
  }
  &:nth-child(9){
    width: 5%;
    text-align: center;
  }
  &:nth-child(10){
    width: 5%;
    text-align: center;
  }
}
textarea#test_description{
  height: 34px !important;
}
th.asc:after{
    content:'\f0d7 ';
    font-family: 'FontAwesome';
    display:inline-block;
    padding:0 .5em;
    cursor: pointer;
}
th.desc:after{
    content:'\f0d8';
    font-family: 'FontAwesome';
    display:inline-block;
    padding:0 .5em;
    cursor: pointer;
}
.tb-prompts{
  @extend .tb-sample;
  th,td {
    &:nth-child(1){
      width: 85%;
    }
    &:nth-child(2){
      width: 15%;
      text-align: center;
    }
}
}
.tb-admin-users{
  @extend .tb-sample;
    th,td {
      width: 10%;
      &:nth-child(6){
        text-align: center;
      }
      &:nth-child(8){
        text-align: center;
      }


    }
    i{
      color:$grey;
      &:hover{
        color:$light-green;
      }
    }


}
.tb-cashflow{
  @extend .tb-sample;
  th,td {
    width: 10%;
    &:nth-child(6){
      // text-align: center;
    }
    &:nth-child(7){
      text-align: center;
    }
  }

}
.tb-raterpaycheck{
  @extend .tb-sample;
  th,td {
    width: 10%;
    &:nth-child(9){
      text-align: center;
    }
    &:nth-child(10){
      text-align: center;
    }
  }

}
.tb-history{
  @extend .tb-sample;
  th,td {
    width: 15%;
  }
}
.down-padding{
  padding-bottom: 40px;
}
// table user-home

.tb-home {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;

  tr {
    background-color: #fff;
  }

  tr.test2 {
    background-color: #E9EEE3 !important;
  }

  tr.testb2 {
    background-color: #DFE9DE;
  }

  th {
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
  }

  .th-user {
    th {
      background-color: #b2d87e;
    }
  }

  .th-rater-user {
    th {
      background-color: #a5d29f;
    }
  }

  td {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    &:nth-child(1) {
      width: 70%;
    }

    &:nth-child(2) {
      width: 100px;
    }

    &:nth-child(3) {
      width: 100px;
    }
  }
}
.tb-user-info{
  @extend .tb-sample;
  th,td{
    width: 10%;
  }

}
//create-prompts
.create-prompts{
  margin: 0 10px;
  .form-inputs{
    padding:0px;
  }
  .form-actions{
    margin: 30px 0px;
  }
  label {
    float: left;
    width: 25%;
    margin-top: 18px;
  }
  .form-group {
      line-height: 34px;
      padding: 10px 0;
      label {
        float: left;
        width: 25%;
      }
      input,
      select{
        float: left;
        width: 70%;
    }
    textarea{
      float: left;
      width: 94%;
      margin-bottom: -20px;
    }
  }

  #prompt_image,
  #prompt_video,
  #prompt_audio,
  #response_avatar{
    width: 100%;
    margin:20px 0px 0px 30%;
    line-height: 1.7em;
    &:before{
      width: 50%;
       position: relative;
       top: -6px;
       left: -30%;
       text-align: center;
    }
  }
  // input[type=file]:before{
  //   width: 50%;
  //   position: relative;
  //   top: 10px;
  //
  //   text-align: center;
  // }
  .btn-record{
    width: 93%;
  }
  .inline-button {
    display: flex;
    flex-direction:column;
    text-align: center;

  }
}

//create-qar
.create-qar{
  @extend .create-prompts;
  .form-group {

      padding: 5px 0;
      margin-bottom: 0px;
  }
  .inline-button{
    select{
      width: 93%;
    }
  }
}

// account
.user-avatar{
  display: block;
  position: absolute;
  top:100px;
  right: 70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.25);
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
.account {
  margin: 0 10px;
  #avatar-upload{
    display: none;
  }
  #upload-img{margin:0px 0px; width:150px;}
  #img_prev{
    position: absolute;
    top: 0;
    left: 0;
  }
  .no-user-img{
    position: relative;
    width: 150px;
    height: 152px;
    border: 1px dashed #ccc;
    margin:10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size: 18px;
    }
    img{
      width: 145px;
      height: 145px;
      text-align: center;
    }
    .img-thumbnail{
      width: 150px!important;
      height: 150px !important;
    }
  }

  label {
    float: left;
    width: 25%;
    margin-top: 18px;
  }

  .user-email {
    font-weight: normal;
  }

  .h2-style-user {
    margin: 20px 0;

  }

  .form-inputs {
    padding-top: 0;
  }
  .inline-button {
    display: flex;
     flex-direction:column;
  }
  .form-group {
    line-height: 34px;
    padding: 10px 0;

    label {
      float: left;
      width: 25%;
    }

    input,
    select {
      float: left;
      width: 70%;
    }

    .form-inline {
      width: 100%;

      #user_date_of_birth_1i,
      #user_date_of_birth_2i,
      #user_date_of_birth_3i {
        width: 23%;
        margin-right: 2px;
      }
    }

  }
}

//contact-us

.contact-us {
  margin: 0 20px;

  a:focus,
  a:hover {
    color: black !important;
  }

  .nav-tabs {
    border-bottom: 0;

    li.contact-btn-left {
      margin-right: 5px;
    }

    li.contact-btn-right {
      float: right;
      margin-left: 5px;
    }
  }
}

#notice{

  color:#000;
  font-weight: bold;
  background-color: #F9EDBE;
  border: 1px solid #F0cc84;
  padding: 5px 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}

//new-msg

.new-msg {
  margin: 0 20px;
  label {
    float: left;
    width: 100px;
  }

  .form-inputs {
    margin: 20px 0;
  }

  .form-actions {
    margin-left: 100px;

    .btn-user {
      margin-right: 10px;
    }
  }
  #message_email{
    width: 60%;
  }

  .message_subject {
    width: 60%;
    float: left;
  }

  .message_content {
    width: 60%;
    float: left;

    textarea {
      height: 200px;
    }
  }
}

.contact-us-mail{
  #trash-mail{
    padding: 0px 2px !important;
    i{
      display: block;
      margin: 10px;
    }
  }
  .btn-user{
    margin-right: 5px;
  }
  .create-date{
    color:$grey;
    margin-bottom: 20px;
  }
  .msg-content{
    background-color: #fff;
    margin: 20px 0px;
    border: 1px solid #ccc;
    padding:0px 10px;
  }
  .message-content{
    white-space:normal;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }
  .msg-reply{
    margin-bottom: 30px;
  }
  .msg-row{
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
  }
  .msg-row:last-child{
    border:0px;
  }
  textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    color:$grey;
  }

}
// footer

.footer-user {
  background-color: $footer-grey;
  height: 4vh;
  line-height: 4vh;

  .copy-right {
    text-align: right;
  }
}

.col-md-10,
.col-md-2,
.col-md-6 {
  padding: 0 !important;
}

.pointer-events{
  pointer-events: none;
  cursor:not-allowed;
}
tr.clickable-row{
  cursor:pointer;
}
td.checkbox-td{
  cursor:default;
}
.some-space{
  height: 31vh;
}
.paypal-button-context-iframe{
  position: absolute;
  top: 0;
  left: -36px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#paypal-button{
  position: relative;
  .xcomponent-outlet iframe{
    position: absolute;
    opacity: 0;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    width: 100%;
    height: 100%;
  }
}
//send-scores
.send-scores{
  .h2-style-user{
    margin: 10px 0px;
  }
}
//==========loading==========
.circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;

  border: 3px solid #ddd;
  border-radius: 50%;
  animation: rotate linear 1s infinite;
  -webkit-animation: rotate linear 1s infinite;

  &.spinner2 {
    border-top-color: $light-green;
    border-right-color: $light-green;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes -rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
@-webkit-keyframes -rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@keyframes bounce {
  0%, 80%, 100% { transform: scale(1); }
  40% { transform: scale(0); }
}

@-webkit-keyframes bounce {
  0%, 80%, 100% { transform: scale(1); }
  40% { transform: scale(0); }
}
//admin-tests
.tests-search{
  width: 35%;
}
// search-input
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
  border-radius: 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    border-radius: 0;
    background:transparent;
}
.input-group-addon{
  border-radius: 0!important;
}
.status-live{
  color:$light-green;
}
.status-draft{
  color:$grey;
}
//response
.response-stop-record{
  color:red !important;
  i{
    color:red !important;
  }
}
.modal-header .h1-style{
  height: 32px;
}
#timing-modal{
  .timeup{
  color:#fff;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  }
  .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .circle{
    width: 65px;
    height: 65px;
    margin-top: 10px;
  }
}

// take test page
#clock{
  font-size: 32px;
}
.take-test-inner{
  min-height: 82vh;
}
.take-test{
  .section-b{
    margin: 40px 0px;
  }
  //min-height: 50vh;
  p,li{
    color:$grey;
  }
  ul{
    list-style: disc;
    margin-left: 20px;
  }

  .q-num{
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
    margin: 0px 0px 20px;
    color: $grey;
  }
}
.test-title{
  font-size: 20px;
  line-height: 44px;
}
.next-user{
  margin-left: 20px;
  i{
   color:$grey;
   margin-left: 5px;
  }
  a{
  color:$grey;
  &:hover{
    color:$light-green;
    i{
      color:$light-green;
    }
  }
}
}
.test-video{
  iframe{
    margin: 20px 0px;
  }
}
#quiz{
position: relative;
 float: left;
 min-height:100%;
 width: 100%;
}
.quiz-page{
  .slide{
  // position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
  }
  .active-slide{
  opacity: 1;
  z-index: 2;
  display: block;
  }
  .quiz-container{
  position: relative;
  // min-height: 88vh;
  }
  .record{
    margin: 20px 0px;
  }
  .hide-download{
    width: 210px;
    overflow: hidden;
  }
  .test-video{
    position: relative;
  }
  .hide-d{
    display:block;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom:6px;
    left: 580px;
    background-color: #fff;
  }

}

//rate-test page
.rate-test-inner{
  min-height: 92vh;
}
.rate-test{
  .section-b{
    margin: 40px 0px;
  }
  //min-height: 50vh;
  p,li{
    color:$grey;
  }
  ul{
    list-style: disc;
    margin-left: 20px;
  }

  .q-num{
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
    margin: 0px 0px 20px;
    color: $grey;
  }
}
// loading sound
.loading{
  display: inline-block;
  margin-left: 10px;
}
.loading span {
  display:inline-block;
  margin:0px 1px;
  width:3px;
  height:10px;
  background-color:red;
}

.loading span:nth-child(1) {
  -webkit-animation:loading 0.5s infinite alternate 0s;
  -moz-animation:loading 0.5s infinite alternate 0s;
  -ms-animation:loading 0.5s infinite alternate 0s;
  -o-animation:loading 0.5s infinite alternate 0s;
  animation:loading 0.5s infinite alternate 0s;
}

.loading span:nth-child(2) {
  -webkit-animation:loading 0.5s infinite alternate 0.2s;
  -moz-animation:loading 0.5s infinite alternate 0.2s;
  -ms-animation:loading 0.5s infinite alternate 0.2s;
  -o-animation:loading 0.5s infinite alternate 0.2s;
  animation:loading 0.5s infinite alternate 0.2s;
}

.loading span:nth-child(3) {
  -webkit-animation:loading 0.5s infinite alternate 0.4s;
  -moz-animation:loading 0.5s infinite alternate 0.4s;
  -ms-animation:loading 0.5s infinite alternate 0.4s;
  -o-animation:loading 0.5s infinite alternate 0.4s;
  animation:loading 0.5s infinite alternate 0.4s;
}

.loading span:nth-child(4) {
  -webkit-animation:loading 0.5s infinite alternate 0.6s;
  -moz-animation:loading 0.5s infinite alternate 0.6s;
  -ms-animation:loading 0.5s infinite alternate 0.6s;
  -o-animation:loading 0.5s infinite alternate 0.6s;
  animation:loading 0.5s infinite alternate 0.6s;
}

@-webkit-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-moz-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-ms-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-o-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}
.stop-bmr, .stop-cdnr{
  color:red;
  &:hover{
    color:red!important;
  }
  i{
    color:red;
  }
}
.start-bmr,.stop-bmr,.start-cdnr,.stop-cdnr{
  width: 300px;
}
.rating-test-section{
  margin: 20px 0px;
  font-weight: bold;
  .cr-title{
    font-size: 20px;
    margin-bottom: 20px;
  }
  p{
    color:black;
    line-height: 20px;
  }
  .radio-inline{
    font-weight: bold;
  }
}
.rate-now:hover{
    color:$light-green !important;

}
.rate-available{
  margin: 0px 20px;
}
.pointer-events-none{
  pointer-events: none;
}
.finished-test{
  min-height: 72vh;
}

// cms
.banner-img{
  position: relative;
  width: 350px;
  height: 152px;
  border: 1px dashed #ccc;
  margin:10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    font-size: 18px;
  }
  img{
    width: 345px;
    height: 145px;
    text-align: center;
  }
  .img-thumbnail{
    width: 50px!important;
    height: 50px !important;
  }
}

#edit-slug-box {
    line-height: 24px;
    min-height: 25px;
    margin-top: 5px;
    padding: 0 10px;
    color: #666;
}

.page_slug {
  display: inline;
}

#editable-post-name input {
    font-size: 13px;
    font-weight: 400;
    height: 22px;
    margin: 0;
    width: 16em;
    display: inline;
}

.mv2 a{
  color:$grey !important;
  padding: 0px 5px !important;
  &:active{
    padding: 0px 5px !important;
  }
  &:hover{
    color: $light-green;
  }
}
.btn-submit-rate {
  background: -webkit-linear-gradient(top,#edffd5,#8cc63e) !important ;
  color: #333 !important;
  border: $dark-green;
  pointer-events: auto !important;
}
.cr-rating{
  font-size: 20px;
  line-height: 25px;
  padding: 20px 0px;
}
.cr-is{
  font-size: 18px;
}
.radio-inline input{
  margin-top: 7px !important;
}
