<%=render "/homes/header" %>
<div class="reset-pwd">
  <div class="container section">
    <div class="row">
      <div class="col-md-5 txt">
        <div class="h1-style">Reset Password</div>
        <form id="resetpassword">
          <div class="form-group">
            <input type="password" class="form-control" id="InputNewPassword" name="new_password" placeholder="New Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="InputNewPasswordAgain" name="new_password_confirm" placeholder="Enter Your Password Again">
          </div>

          <input type="hidden" id="token" value="<%=@token.to_s%>">
          <span id="error_msg"></span>
        </form>
        <button type="submit" class="btn btn-color" id="input-reset-password">Submit</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  FormValidation.Validator.securePassword = {
    validate: function(validator, $field, options) {
        var value = $field.val();
        if (value === '') {
            return true;
        }

        // Check the password strength
        /*
        if (value.length < 6) {
            return {
                valid: false,
                message: 'The password must be more than 6 characters long'
            };
        }
        */

        return true;
    }
};

  $('#resetpassword').formValidation({
      framework: 'bootstrap',
      icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          'new_password': {
              validators: {
                  notEmpty: {
                      message: 'The password is required and cannot be empty'
                  },
                  securePassword: {
                      message: 'The password is not valid'
                  }
              }
          },
          'new_password_confirm': {
              validators: {
                notEmpty: {
                    message: 'The field is required and cannot be empty'
                },
                  identical: {
                      field: 'new_password',
                      message: "Make sure the password is the same"
                  }
              }
          }
      }
  }).on('err.validator.fv', function(e, data) {
          // $(e.target)    --> The field element
          // data.fv        --> The FormValidation instance
          // data.field     --> The field name
          // data.element   --> The field element
          // data.validator --> The current validator name
          data.element
              .data('fv.messages')
              // Hide all the messages
              .find('.help-block[data-fv-for="' + data.field + '"]').hide()
              // Show only message associated with current validator
              .filter('[data-fv-validator="' + data.validator + '"]').show();
      });
});

  $("#input-reset-password").click(function () {

    $( "#error_msg" ).empty();

    var password = $('#InputNewPassword').val();
    var c_password = $('#InputNewPasswordAgain').val();
    var token = $('#token').val();

    if(password == ""){
        // $( "#error_msg" ).append( "<p style='color:red;'>Please Type a new password</p>" );
        return;
    }
    if(c_password == ""){
        // $( "#error_msg" ).append( "<p style='color:red;'>Please Type a password confirmation</p>" );
        return;
    }


  if(token == ""){
      console.log("No token.");
      return;
  }

  if(password != c_password){
      console.log("Password not match!");
      return;
  }

    $.post("/resetpassword", {

      token: token,
      password: password

    }, function (data, status) {
      if(data.status == "false"){
        $( "#error_msg" ).append( "<p style='color:red;'>"+data.message+"</p>" );

        return;
      }else{
        // console.log("Data: " + data + "\nStatus: " + status);
        console.log("Data: " + data.status);
        console.log("Data: " + data.message);
      }
    });
  });
</script>

<%=render "/homes/footer" %>
