<%=render "/homes/header" %>
<div class="reset-pwd">
  <div class="container section">
    <div class="row">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <div class="col-md-5 txt">
        <div class="h1-style">Resend An Activate Link</div>
        <form id="resetpassword">
          <div class="form-group">
            <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Email">
          </div>
          <input type="hidden" id="token" value="<%=@token.to_s%>">
          <span id="error_msg"></span>
        </form>
        <button type="submit" class="btn btn-color" id="input-reset-token">Resend</button>
      </div>
    </div>
  </div>
</div>

<script>

$('#input-reset-token').click(function(){

  var token = $('#token').val();
  var email = $('#InputEmail').val();
  // console.log(email);

  $.post("/resendtoken", {

    token: token,
    email: email

  }, function (data, status) {
    if(data.status == "false"){
      $( "#error_msg" ).append( "<p style='color:red;'>"+data.message+"</p>" );

      return;
    }else{
      // console.log("Data: " + data + "\nStatus: " + status);
      console.log("Data: " + data.status);
      console.log("Data: " + data.message);
    }
  });
});

</script>
