<%=render "/homes/header" %>
<div class="reset-pwd-thankyou">
  <div class="container section">
    <div class="row">
      <div class="col-md-12 txt">
        <div class="h1-style">Activate Link has been resend</div>
        <p>Your activate link has been successfully resent. Please check your email account.</p>
        <p>-Parrot Support</p>
        <a href="/">
          <div class="back-home"><i class="fa fa-arrow-left"></i>Back to Homepage</div>
        </a>
      </div>
    </div>
  </div>
</div>

<%=render "/homes/footer" %>
