<div class="modal-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title">
          <div class="modal-h1-top">Test > <%= @test.title %></div>
        </h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Language</td>
            <td><%= @test.language %></td>
          </tr>
          <tr>
            <td>Industry</td>
            <td><%= @test.industry %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= @test.description %></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><%= @test.time %> min</td>
          </tr>
          <tr>
            <td>Price</td>
            <td><%= @test.price %> USD</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" id="test_checkout_submit">Check Out</button>
        <button type="button" name="button" class="btn btn-user" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "js/tests.js" %>
<script>
var price = <%= @test.price %>;
var test_id = <%= @test.id %>;

$('#test_checkout_submit').click(function(){
  $.post("/test_checkout", {
    price: price,
    test_id: test_id
  }, function (data, status) {
    if(data.status == "false"){
      $( "#cart_login_error_msg" ).append( "<p style='color:red;'>"+data.message+"</p>" );
      return;
    }else{
      console.log("Data: " + data.status);
      console.log("Data: " + data.message);
    }
  });
});
</script>
