<div class="camera"></div>

<%=render "users/header" %>
<div class="thankyou">
  <div class="container-fluid banner thankyou-head">
    <div class="container">
      <div class="h1-style">Test Finished</div>
    </div>
  </div>
  <div class="container section finished-test">
    <div class="col-md-12">
      <p class="p-lg">Thank you for Taking the test.</p>

      <a href="/test_records">
        <div class="back-home"><i class="fa fa-arrow-left"></i>Back to Homepage</div>
     
      </a>
    </div>
  </div>
</div>



<%=render "users/footer" %>

<script>

$(document).ready(function(){
  // end camera


   Webcam.set({
      width: 640,
      height: 480,
      dest_width: 640,
      dest_height: 480,
      image_format: 'jpeg',
      jpeg_quality: 90,
      force_flash: false,
      fps: 60
      });


  
      function take_snapshot() {
      Webcam.snap( function(data_uri) {
        // document.getElementById('begin_result').innerHTML = '<img src="'+data_uri+'"/>';
        // var img = data_uri;
        // console.log(data_uri);
        $.post("/post_test_end_photo", {
         img: data_uri
        });

      } );
    }

    // take_snapshot();

    setTimeout(function(){ take_snapshot(); }, 1000);
    return; 

  });



</script>
