<%=render "/users/header" %>
<div class="container-fluid">
  <div class="row" id="content-outter">
    <%=render "/users/siderbar" %>
    <div class="col-md-10">
      <div class="content container-fluid">
        <div class="contact-us">
          <div class="row">
            <% if notice %>
              <p id="notice"><%= notice %></p>
            <% end %>
            <div class="h1-style-user">Tests</div>
          </div>
          <div class="row">
            <div class="col-md-6 flex">
              <%= link_to 'Create Tests', new_test_path, :class => 'btn btn-user-link flex-item' %>
              <!-- <div class="input-group stylish-input-group tests-search flex-item">
                <input type="text" class="form-control">
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
              <button type="button" name="button" class="btn btn-user-icon flex-item"><i class="fa fa-filter" aria-hidden="true"></i></button> -->
            </div>
            <div class="col-md-6 text-right flex-end">
              <!-- <div class="page-number flex-item">1 - 15 of 42</div>
              <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
              <div class="btn btn-user-icon flex-item"><i class="fa fa-chevron-right" aria-hidden="true"></i></div> -->
              <%= will_paginate @tests, renderer: 'PaginateHelper::LinkRenderer' %>
            </div>
          </div>
          <div class="row">
            <table class="tb-admin-tests">
              <thead>
                <tr>
                  <th>Test Name</th>
                  <th>Test ID</th>
                  <th>Language</th>
                  <th>Industry</th>
                  <th class="sortable-1 asc">Test Date</th>
                  <th class="sortable-2 asc">Popularity</th>
                  <th class="sortable-3 asc">Price</th>
                  <th class="sortable-4 asc">Status</th>
                  <th>Practice Test</th>
                  <th>Edit</th>
                  <th>Trash</th>
                </tr>
                <tr>
                  <th></th>
                  <th>ILR1 Prompt1</th>
                  <th>ILR1 Prompt2</th>
                  <th>ILR1+ Prompt1</th>
                  <th>ILR1+ Prompt2</th>
                  <th>ILR2 Prompt1</th>
                  <th>ILR2 Prompt2</th>
                  <th>ILR2+ Prompt1</th>
                  <th>ILR2+ Prompt2</th>
                  <th>ILR3 Prompt1</th>
                  <th>ILR3 Prompt2</th>
                </tr>
              </thead>

              <tbody>
                <% @tests.each do |test| %>
                  <tr>
                    <td><%= test.title %></td>
                    <td><%= test.id %></td>
                    <td><%= test.language %></td>
                    <td><%= test.industry %></td>
                    <td><%= if test.updated_at.blank? then "" else test.updated_at.strftime('%m/%d/%Y') end %></td>
                    <td><%= @popularity[test.id] %></td>
                    <td><%= test.price %></td>
                    <td>
                      <% if test.status == 1 %>
                        <div class="status-live">Live</div>
                      <% elsif test.status == 0 %>
                        <div class="status-live">Draft</div>
                      <% end %>
                    </td>
                    <td>
                      <% if test.is_practice %>
                        <i class="fa fa-check-circle" title="Yes"></i>
                      <% else %>
                        <i class="fa fa-times-circle" title="No"></i>
                      <% end %>
                    </td>
                    <td><%= link_to edit_test_path(test) do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %></td>
                    <td><%= link_to test, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash" aria-hidden="true"></i><% end %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <% if Prompt.find_by_id(test.ilr1_prompt1) %>
                    <td><%= Prompt.find_by_id(test.ilr1_prompt1).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr1_prompt2) %>
                    <td><%= Prompt.find_by_id(test.ilr1_prompt2).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr1plus_prompt1) %>
                    <td><%= Prompt.find_by_id(test.ilr1plus_prompt1).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr1plus_prompt2) %>
                    <td><%= Prompt.find_by_id(test.ilr1plus_prompt2).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr2_prompt1) %>
                    <td><%= Prompt.find_by_id(test.ilr2_prompt1).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr2_prompt2) %>
                    <td><%= Prompt.find_by_id(test.ilr2_prompt2).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr2plus_prompt1) %>
                    <td><%= Prompt.find_by_id(test.ilr2plus_prompt1).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr2plus_prompt2) %>
                    <td><%= Prompt.find_by_id(test.ilr2plus_prompt2).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr3_prompt1) %>
                    <td><%= Prompt.find_by_id(test.ilr3_prompt1).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                    <% if Prompt.find_by_id(test.ilr3_prompt2) %>
                    <td><%= Prompt.find_by_id(test.ilr3_prompt2).title %></td>
                    <% else %>
                    <td><strong>Prompt LOST</strong></td>
                    <% end %>

                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=render "/users/footer" %>

<script>
$( "li.admin-tests" ).addClass( "active" );
$(".sortable-1").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $('.sortable-1').removeClass('asc').removeClass('desc');
    $(this).addClass(o);

    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-2").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $('.sortable-2').removeClass('asc').removeClass('desc');
    $(this).addClass(o);

    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-3").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $('.sortable-3').removeClass('asc').removeClass('desc');
    $(this).addClass(o);

    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
$(".sortable-4").click(function(){
    var o = $(this).hasClass('asc') ? 'desc' : 'asc';
    $('.sortable-4').removeClass('asc').removeClass('desc');
    $(this).addClass(o);

    var colIndex = $(this).prevAll().length;
    var tbod = $(this).closest("table").find("tbody");
    var rows = tbod.find("tr");

    rows.sort(function(a,b){
        var A = $(a).find("td").eq(colIndex).text();
        var B = $(b).find("td").eq(colIndex).text();

        if (!isNaN(A)) A = Number(A);
        if (!isNaN(B)) B = Number(B);

        return o == 'asc' ? A > B : B > A;
    });

    $.each(rows, function(index, ele){
        tbod.append(ele);
    });
});
</script>
