<!DOCTYPE html>
<html>
  <head>
    <title>Parrot66 | Know Your Language Skills Today</title>

    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- jquery -->
    <!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': "reload" %>


    <%= stylesheet_link_tag    'css/formvalidation/dist/css/formValidation.min.css' %>
    <%= stylesheet_link_tag    'css/bootstrap-formhelpers.min.css', media: 'screen' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': "reload" %>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.9.2/js/dropin.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


    <%= javascript_include_tag "js/formvalidation/dist/js/formValidation.min.js", defer: true %>
    <%= javascript_include_tag "js/formvalidation/dist/js/framework/bootstrap.min.js", defer: true %>

  </head>

  <!-- <% if params[:controller] == "paypals" && params[:action] == "new" %>
    <body data-turbolinks="false">
  <% else %>
    <body data-turbolinks="true">
  <% end %> -->
  <body class="<%= controller_name %> <%= action_name %>">
    <% #if notice %>
      <!-- <p class="alert alert-success"><%= notice %></p> -->
    <% #end %>
    <% #if alert %>
      <!-- <p class="alert alert-danger"><%= alert %></p> -->
    <% #end %>


	<%

	# @user = User.all()
#
	# @user.each do |user_d|
		# concat user_d["email"]
	# end
#
#
	# test = @db.query("select * from users")
	# concat test
	%>


    <%= yield %>




  </body>
</html>
