<!DOCTYPE html>
<html>
<head>
  <title>Parrot Certificate</title>
  <style>
    <%= Rails.application.assets.find_asset('application.scss').to_s %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
