<!DOCTYPE html>
<html>
  <head>
    <title>Parrot66</title>

    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': "reload" %>


    <%= stylesheet_link_tag    'css/formvalidation/dist/css/formValidation.min.css' %>
    <%= stylesheet_link_tag    'css/bootstrap-formhelpers.min.css', media: 'screen' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': "reload" %>

    <%= javascript_include_tag 'media.js', defer: true %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
